[2014-03-27 13:33] matthewwithanm opened #1 "Idea: support partial document embedding"
A way to specify that you only want a particular part of the document embedded. (This would be useful for spritesheets.)

We'd have to consider how this interacts with [fragment identifiers](http://www.broken-links.com/2012/08/14/better-svg-sprites-with-fragment-identifiers/) (it's certainly different as we would only be including part of the document) and [stacks](http://simurai.com/blog/2012/04/

[2014-04-24 15:05] matthewwithanm opened #2 "Use httpplease"
The loading code was extracted into [another library](https://github.com/matthewwithanm/httpplease.js) so we should just use that.

[2014-04-29 13:45] matthewwithanm opened #3 "Uniquify IDs"
Putting multiple SVGs with elements that have the same ID into one document confuses browsers. This is especially a problem when minifying SVGs since minified IDs (like "a") are more likely to collide.

[2014-04-29 15:18] #2 closed, assigned to nobody

[2014-04-29 18:34] #3 closed, assigned to nobody

[2014-09-30 14:37] ChrisSki opened #4 "Assigning svg a className or attribute"
@matthewwithanm is there a way to give the actual svg a className or attribute? Reason being when I use something like GSAP for tweening, it's necessary for me to reference the actual svg for animation.

[2014-10-06 18:23] #4 closed, assigned to nobody

[2015-01-28 20:08] wires opened #5 "Dynamic `src` attrbute."
Hi,

I thought it should be possible to change the `src` attribute and load a different file (or pull from cache).
I put together a little test demonstrating what I'm talking about, see https://github.com/wires/react-inlinesvg-test

Look at [`index.js`](https://github.com/wires/react-inlinesvg-test/blob/master/index.js), this is where the "meat" is...

[code]

I ran into this when trying to use `r

[2015-01-28 20:28] wires commented on #5
If you checkout the [`test/router` branch](https://github.com/wires/react-inlinesvg-test/tree/test/router) of the same repo, I've demonstrated the problem with `react-router`. (here is [`index.js`](https://github.com/wires/react-inlinesvg-test/blob/test/router/index.js))

Again, just run `gulp`, this starts a HTTP server on port 3003.

Load either `http://localhost:3003/#/page/test-b.svg` or `http

[2015-03-02 22:44] juancabrera opened #6 "error on getComponentID"
When I try to do this:
[code]

Got this error:
![screen shot 2015-03-02 at 5 39 41 pm](https://cloud.githubusercontent.com/assets/355253/6452352/25c7a374-c103-11e4-8982-c924ed50ecae.png)

And this is how it looks on the actual DOM:
[code]

[2015-03-02 22:46] matthewwithanm commented on #6
Hm, what version of React?

[2015-03-02 22:48] juancabrera commented on #6
@matthewwithanm 0.13.0-rc1 (actually need this version)

[2015-03-02 22:58] matthewwithanm commented on #6
Ah, they probably removed that `_rootNodeID`. We probably don't really need an id unique to the component instance, though…some hash of the src or svg text should do just as well.

I'll try to get to this later this week, if nobody else submits a PR first.

[2015-03-02 23:01] juancabrera commented on #6
ok cool — will take a look tomorrow morning, hopefully I can submit a PR.

[2015-03-03 16:51] juancabrera commented on #6
please see #7

[2015-03-04 15:52] matthewwithanm commented on #6
Closed by #7!

[2015-03-04 15:52] #6 closed

[2015-04-07 14:53] dubert commented on #5
If you add a key, it should work. React needs to know that it's a different image.

[2015-06-16 09:14] anselmh opened #11 "Why does it has symbol ids and is it optional?"
Hi,

just tried to use the lib and figured that each symbol ID is being hashed (initial: `#add`, through lib: `#add___974976503`). Why is that and can I disable it? Couldn’t find anything in the documentation.

Thanks for help.

[2015-06-16 13:43] matthewwithanm commented on #11
Hi! This technique embeds SVGs directly into the host document, so if you have two SVGs with the same ID, they're going to end up in the same namespace. Styles applied in one document will actually be applied to both!

You can disable it with the `uniquifyIDs` prop: just pass it `false`.

[2015-06-16 13:45] anselmh commented on #11
Thanks! Can you add this to the README to avoid further questions on that?

[2015-06-16 13:51] matthewwithanm commented on #11
Definitely. I'm out of town right now so it might be a little while. Then again…that "Merge PR" button is pretty easy, even from my phone (;

[2015-06-17 09:23] anselmh commented on #11
Hey, I had a chance to try it out now but adding the prop had no effect on the hashing which still happens. My code looks like this:

    <Isvg src="src/to/my.svg" className="svgsprite" uniquifyIDs="false" />

According to you this should work, right? I also tried `0` instead of `false` but this had no effect as well. Is it perhaps because [this if statement isn’t correct in here](https://github.c

[2015-06-17 09:33] anselmh commented on #11
My fault: Need to set it via `uniquifyIDs={false}`. I’ll see if I can do a PR later for adding the documentation.

[2015-06-17 16:00] #11 closed

[2015-06-24 11:16] ameego opened #13 "Extra characters ]> added to the span tag"
Hi,

I'm getting a couple of extra characters "]>" added to the span tag.

Here's the code:

[code]

The output is as follow:

[code]

Do you have any idea why this extra characters appears?

Cheers!

[2015-06-24 16:17] mudetroit opened #14 "Change name of char variable in getHash function"
The coffeescript compiler happily produces a variable named char, which is a reserved word in javascript. This causes problems with some older minifiers, and potentially some browsers.

[2015-06-25 00:32] matthewwithanm commented on #13
That's really weird. Can you create a test case where I can reproduce the issue?

[2015-06-25 02:45] ameego commented on #13
Hi there,

I've changed my export settings in Illustrator and it does work fine now.
Let me know if you still need information.

Cheers,

[2015-06-25 14:32] matthewwithanm commented on #13
Any chance I can get the original file?

[2015-06-25 18:16] #14 closed

[2015-06-26 08:08] ameego commented on #13
Sure, here you go: https://drive.google.com/file/d/0B4i5pei2tx48bTJGMEJoeWlUUGs/view?usp=sharing.

I've just tried it and I can reproduce the issue with it.

[2015-07-20 18:50] captDaylight commented on #5
Yup, adding a key did it for me, thanks @dupert

[2015-07-23 16:30] axertion opened #17 "Icon coloring conflicts"
When embedding multiple SVGs using react-inline svg, their are color conflicts because of the style class names contained within the `<svg>` tag:

Example of issue:
![color clash](http://i.imgur.com/NpBTK2k.png)

As you can see, the bottom icon colors are being applied to the top icons, and vice versa.

The correct colors should look like this:

![color correct](http://i.imgur.com/8S5LzdZ.png)

Wh

[2015-08-23 10:49] jkarttunen commented on #5
Adding a key helped partially. Linear gradients so not seem to get unique id, and this causes them to disappear from
icon If toggling same icon on and off somewhere else

[2015-09-01 14:34] jkarttunen commented on #17
I think I'm encountering similar issues with gradients. Have you tried exporting in SVG format with no style classes? (Not user if you can do this, but some of the AI  style formats seem to work better at least for me.

[2015-09-01 14:38] jkarttunen opened #18 "Flickering / redraws."
I'm using rather big svg images, not icons with react-inlinesvg.
There seems to be a lot of flickering and redraws when doing new routes / redraving parts of UI.
Somehow React seems to think it needs to redraw the svg elements a lot.

I have not yet investigated this yet, but I'll experiment with pure component mixins.

[2015-09-01 14:42] matthewwithanm commented on #17
@axertion I imagine that we could have a `classPrefix` prop, but this kind of parsing is usually error-prone.

[2015-09-01 15:54] matthewwithanm commented on #18
Off, yeah. We need to implement `shouldComponentUpdate`.

[2015-09-02 14:43] jkarttunen commented on #17
My issue was diffrent, probably caused by non-unique ID's in svg files repeated several times. using key= fixed it somehow.

[2015-09-02 14:45] jkarttunen commented on #17
@axertion have you tried exporting CSS differently:
![screen shot 2015-09-02 at 17 44 34](https://cloud.githubusercontent.com/assets/914822/9634428/5e4a4760-519a-11e5-95ad-0e2a675cfc91.png)

[2015-09-24 13:42] luandro opened #20 "Style the svg directly"
How can I give the loaded svg some style attributes such as width and height? It seems there's no way to access the svg at all.

[2015-10-08 15:11] zacharyz opened #21 "atob not supported in IE9"
Similar to this issue: https://github.com/travist/jsencrypt/issues/1
atob is not supported until ie10, so an alternative encoding/decoding function is required.

[2015-10-13 10:42] nutank opened #22 "Is it possible to add dynamic styles to embedded svg dynamically?"
@matthewwithanm  I have an svg loaded from an external source using react-inlinesvg. Is there any way we can add classes or dynamic styling to this svg on state change ?

[2015-10-24 16:49] apreg opened #23 "Passing down props"
I was wondering why assigning an onClick to the Isvg component is not possible?

[2015-10-27 16:23] monte-hayward opened #24 "Invariant Violation: InlineSVG.render(): A valid ReactComponent must be returned"
`
Uncaught Error: Invariant Violation: InlineSVG.render(): A valid ReactComponent must be returned. You may have returned undefined, an array or some other invalid object.
`
[code]

[2015-11-03 10:34] operatino opened #25 "Caching AJAX requests"
Hi,

Great thanks for the nice react module, I found it the best among other inline svg loading technics, especially for isomorphic apps.

But I noticed one issue though, when using multiple SVG images on a page, there's a lot of identical requests for same images:

![image](http://d.pr/i/1Ngt+)

What do you think about adding memory cache for previously loaded SVG's? Since SVG's aren't heavy, it

[2016-01-06 23:17] jayeszee commented on #25
+1

[2016-01-14 00:23] tnrich commented on #20
+1, it would be nice to know how to do this

[2016-01-14 00:34] tnrich commented on #13
I'm running into this issue as well

[2016-02-29 20:10] LoicUV commented on #25
+1

[2016-03-09 15:23] ifuller1 commented on #25
Hey Guys.

We had the same issue so added some caching support to a fork of the library: https://github.com/trailsuite/react-inlinesvg/

There's a significant different between our fork and this package so we haven't raised a PR. Our original approach was to make a small change to @matthewwithanm's excellent module but some missing dependencies and a lack of expertise in coffee script caused us to

[2016-03-11 21:56] scriptin commented on #13
These characters are closing tag for `DOCTYPE`. Here is an example file I use: [04eba.svg](https://raw.githubusercontent.com/KanjiVG/kanjivg/master/kanji/04eba.svg). When I remove `DOCTYPE` from this file, these two characters do not appear.

When I inspect the DOM, I see this:

    <span class="isvg loaded" data-reactid=".0.1.0.1.1.$0">

    ]>
    <svg xmlns="http://www.w3.org/2000/svg" width="1

[2016-03-11 22:20] scriptin commented on #13
This is actually an issue of React: facebook/react/issues/1035 - in short, React does not support doctypes and things like conditional comments by design.

The best solution in this case is to strip doctype from a loaded document, or maybe even stripping everything before opening `<svg>` tag.

[2016-03-17 12:02] export-mike commented on #5
it would be helpful if this key was added to the component inside of react-inlinesvg

[2016-03-17 12:03] export-mike commented on #5
I attempted at making a change but failed on esprima-six package not found, looks like this repo needs some love

[2016-04-01 09:39] export-mike opened #26 "Feature Request - No css option"
Spotted this on the angular equivalent.
https://www.npmjs.com/package/angular-un-svg
# svg-no-css

If set to true, removes all inline css (style tags) from SVG elements.

would be quite nice to have

[2016-04-14 09:33] lostpebble commented on #25
This is something I would really like to see in this package. Luckily they're all cached, so shouldn't affect the end user too much, but the fact that it makes a request each and every time is not great. For instance, I have a slider that rotates through a group of SVGs, one every second, and every single one makes a new request even if it's been displayed before.

[2016-04-14 09:46] ifuller1 commented on #25
@lostpebble - They're often uncached. If you have the same icon repeated on a page, as we do, then the browser initiates multiple xhrs'. The first request to fire is only available in the cache once several other requests have started with a cache miss. You're welcome to use https://github.com/trailsuite/react-inlinesvg/ if you like. Our tests are green on Travis - biggest TODO is fixing the linti

[2016-04-14 11:36] lostpebble commented on #25
Thanks. I've just tried your fork, but it doesn't seem to solve the problem. I'll create an issue in that repository.

[2016-04-14 11:51] ifuller1 commented on #25
@lostpebble Did you see the config? Caching isn't on by default so you need to enable it (see the Readme.md). I'll enable issues on the repo too.

[2016-04-14 11:56] lostpebble commented on #25
Ah okay, I see. Sorry, just assumed the Readme.md was exactly the same from the fork. It is working now.

[2016-04-16 23:20] gilbarbara commented on #18
Hey @matthewwithanm

I'm having this problem too but appears that you aren't updating this repo anymore.
Are you accepting pull requests? new contributors?

I've been working a lot with svg [svgporn](https://github.com/gilbarbara/logos) and I'd love to help.

[s]

[2016-04-19 21:32] gilbarbara commented on #17
spring cleaning

[2016-04-19 21:32] #17 closed

[2016-04-19 21:32] gilbarbara commented on #21
spring cleaning

[2016-04-19 21:32] #21 closed

[2016-04-19 21:34] gilbarbara commented on #5
spring cleaning

[2016-04-19 21:34] #5 closed

[2016-04-19 21:34] gilbarbara commented on #13
spring cleaning

[2016-04-19 21:34] #13 closed

[2016-04-19 21:36] gilbarbara commented on #18
Fixed f36492593d7009ade7d972f5dbd386991643ab54

[2016-04-19 21:36] #18 closed

[2016-04-19 21:36] gilbarbara commented on #24
spring cleaning

[2016-04-19 21:36] #24 closed

[2016-04-19 21:39] gilbarbara commented on #20
hey,
You can style it with css.
[code]
Don't forget to add a viewBox in your SVGs.

[2016-04-19 21:39] #20 closed

[2016-04-19 21:49] gilbarbara commented on #23
spring cleaning

[2016-04-19 21:49] #23 closed

[2016-04-29 17:24] iSamuelBarney opened #28 "Spatial Indexing"
Using this on an app I'm building wrote a few lines to get grid item order 0-9+ based on x&y and another that generates x&y as well as order if it has none number of columns doesn't matter it can handle it... Is this something I should share here or would anyone want this feature?

[2016-05-01 22:53] gilbarbara commented on #28
hey @samuelbarney
Do you have a public example or could share a screenshot?

[2016-05-01 23:12] gilbarbara commented on #25
hey @ifuller1
I've refactored the source code to ES2015 and if you like to contribute the cache option back in, it will be great.

[2016-05-01 23:12] gilbarbara commented on #22
spring cleaning

[2016-05-01 23:12] #22 closed

[2016-05-02 00:05] samuelbarney commented on #28
I'd have to change it before showing it, FYI I wrote it for 1width gridtiles forgot to mention that so if your using resize=true then it will need to be modified to store width or something. I'll post the whole example sometime tomorrow when I get time. The basic equation was like o=(y * c) + x where o is numeric order and c is number of columns so adding width is prob not something I have time to

[2016-05-10 11:14] chapati23 opened #29 ""TypeError: Invalid URL" when mounting components with Enzyme in tests"
This works fine in development but breaks in my tests:
[code]

I suspect Mocha or Enzyme set some different root-paths in their test-environment where the component gets mounted which leads to all my tests that contain `<Isvg>` components breaking.

Any idea for a workaround that doesn't involve me wrapping <Isvg> in a `env.test ? <Isvg path=""> : <Isvg path="/normal/path/to/my.svg" />`

[2016-05-14 05:20] gilbarbara commented on #29
hey,
Can you post an error log?
Isvg loads the files with httpplease (xmlhttprequest). You could mock it or you can create a simple server with your assets for testing.

[2016-05-18 15:18] chapati23 commented on #29
can't reproduce atm because my testsetup changed. but it'd be cool to add a little paragraph to the README or wiki with this information. how to mock Isvg in tests or at least that it uses httpplease (you could find out by digging through the code but that can take a lot of time)

and btw: thanks for this package :)

[2016-05-22 02:26] jamesslock opened #30 "Browser request for fallback img even when not needed."
Right now it appears that the browser will make two requests one for the .svg and another for the .png if the svg is able to load the browser should not also request the png.

[2016-05-22 05:34] gilbarbara commented on #30
Hey, which version are you using? I just tried with 0.5.0 and it didn't load the fallback png.

[2016-05-22 05:37] gilbarbara commented on #29
Added httpplease to README.
Thanks

[2016-05-22 05:37] #29 closed

[2016-05-22 23:43] jamesslock commented on #30
I'm using the latest version, how ever I am using this on an Isomorphic app.

[2016-05-23 05:50] chapati23 commented on #29
Thanks :)

[2016-06-06 04:38] ifuller1 commented on #25
Thanks @gilbarbara - totally missed this email. Will come back to it ASAP.

[2016-06-09 17:31] ifuller1 commented on #25
Hi @gilbarbara - PR raised https://github.com/matthewwithanm/react-inlinesvg/pull/32

Comments welcome.

[2016-06-10 18:54] MarkRabey opened #33 "Support for Server-side Rendering"
The component returns false for `supportsInlineSVG()` and `isSupportedEnvironment()` when rendering server-side. This results in `.unsupported` being added to the wrapper, rather than `.loaded`. And the SVG is not loaded until the client is able to render it. This also causes an error in my browser console because the client and server are not rendering the same code.

Can something be done to sup

[2016-06-14 16:50] export-mike commented on #25
Is this now considered closed? what was the reasoning to make cacheGetRequests default to false?

[2016-06-14 16:56] ifuller1 commented on #25
It would be good for somebody to independently validate this but yes, I think it is.

Defaulting to false as not to cause unexpected behaviour for existing users.

[2016-06-14 19:55] export-mike commented on #25
@ifuller1 I'll take a look at the code and get back to you :)

[2016-06-14 21:09] #25 closed

[2016-06-16 09:50] ifuller1 commented on #25
Thanks @export-mike, it's more about validating it works in production (we're using it successfully already - but would welcome validation from some of the authors)

[2016-06-20 14:58] iamchristopher opened #34 "Component appears to render siblings when src doesn't exist"
When rendering an instance of `<Svg>` using a resource that doesn't exist, it seems to render its siblings as well as the provided fallback elements.

Example:

[code]

Results in:

[code]
Currently using v0.5.3.

[2016-07-26 09:31] renaudl opened #35 "setState(...): Can only update a mounted or mounting component"
Hi

The IsSVG component added to my app make react crying on the following. Could you please help.

setState(...): Can only update a mounted or mounting component. This usually means you called setState() on an unmounted component. This is a no-op. Please check the code for the undefined component.

[2016-07-26 09:52] renaudl commented on #35
Comes from the setState in the handleLoad callback. Not sure why it generates this warning. Any idea?

[2016-08-01 09:06] djskinner-sky commented on #33
I wonder if this could be addressed by adding the additional class names on `componentDidMount` rather than `componentWillMount`. That way they will only get added on the client and the initial diff should be the same. Can anyone see any obvious issues with this approach?

[2016-08-30 14:08] SkateFreak opened #36 "production build renders an iframe like component?"
`<span class="isvg loaded">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700" rel="stylesheet" type="text/css">
    <link href="https://maxcdn.bootstrapcdn.com/f

[2016-09-07 09:27] pozylon commented on #35
`fail(error) {
    const status = error.isUnsupportedBrowserError ? Status.UNSUPPORTED : Status.FAILED;

    this.setState({ status }, () => {
      if (typeof this.props.onError === 'function') {
        this.props.onError(error);
      }
    });
  }

  handleLoad(err, res) {
    if (err) {
      this.fail(err);
      return;
    }
    this.setState({
      loadedText: res.text,
      status: Sta

[2016-09-12 16:43] marthakelly opened #38 "babel-plugin-add-module-exports to dependencies?"
hey there, should we move babel-plugin-add-module-exports to dependencies, instead of dev dependencies?

it seems like the babelrc is using it in prod: https://github.com/matthewwithanm/react-inlinesvg/blob/55ada4616274eac0693086fcfbba3e844b1cc9d5/.babelrc#L10

[2016-09-12 16:43] marthakelly commented on #38
I'm happy to make a PR if you're cool with the change

[2016-10-05 16:48] pentool opened #39 "How can I update SVG parameters?"
Hello,

Pardon my overly simplistic question but still a newbie at doing react stuff. I want to be able to update SVG parameters (eg change fill color) when I tap on the SVG image. It's really easy to accomplish this in regular HTML/CSS but in react it gives me a headache.

The SVG file is loading just fine and I can click on it and the click event is received. But when I try to toggle the class o

[2016-10-08 00:49] gilbarbara commented on #38
Hey @marthakelly
Babel is only used to build the package and transpile the source before publishing to the npm registry. It's not needed to run when required.

👍

[2016-10-08 00:49] #38 closed

[2016-10-08 00:53] gilbarbara commented on #36
It looks like you are loading your html file ou something. Check your svg source markup?
I use this package in production in several projects and I never had any problems.

[2016-10-08 00:53] #36 closed

[2016-10-08 01:03] gilbarbara commented on #35
@renaudl
It's hard to know why it is complaining about `setState` in your setup. Can you reproduce it using jsfiddle or similar?

@pozylon https://facebook.github.io/react/blog/2015/12/16/ismounted-antipattern.html

[2016-10-09 01:06] gilbarbara commented on #33
Merged

[2016-10-09 01:06] #33 closed

[2016-10-09 06:54] gilbarbara commented on #39
Hello.

React renders plain html to the DOM. It uses a virtual DOM to compare changes and only update what really change on a re-render but the content on the page it's pretty much standard stuff.

Did you really have a `circle (SVGCircleElement)` with a class `.circle`? Have you explicitly added a class to it and made sure that it still have this class when it is rendered on the DOM? You can insp

[2016-10-09 06:54] #39 closed

[2016-10-09 18:57] gilbarbara commented on #36
Also check the path of you svg file.
I just tried to load a SVG that didn't exist and the server returned the index.html content instead of a 404 response.

[2016-10-09 19:23] gilbarbara commented on #34
Hey,
I couldn't reproduce this behaviour in a clean `create-react-app` setup.

However the `create-react-app` uses a proxy for the dev-server and it won't return a 404 when the file doesn't exist, instead it returns 200 and the index.html content. Thus preventing this component to load the fallback.

[2016-10-09 19:23] #34 closed

[2016-10-15 21:09] oguzzkilic opened #41 "Server-Side Rendering Support"
Do you think offering server-side rendering support?

[2016-11-15 00:14] gouyou opened #42 "Error when using preloader"
When I'm using a preloader, I get the following error:
`Error: Can only set one of 'children' or 'props.dangerouslySetInnerHTML'.`

Code:
[code]

[2016-11-27 15:10] jasan-s opened #43 "It works in Dev server but not in production"
I don't believe its an issue with this lib probably with rather my require statement.  In dev i set the url for svg like so.
`const url = require('media/images/walkthrough/TimedLocation.svg')`

but in production using the CopyWebpackPlugin I copy over
` from: PATHS.app + '/media/images' }`

thus in production I don't have a media folder just images

[2016-11-27 15:39] #43 closed

[2016-12-09 06:01] Maxpain177 commented on #41
@oguzzkilic Same question. You found a solution?

[2016-12-14 16:39] mikeriley131 opened #44 "hashed IDs"
I'm seeing this issue where the `<id>`s in my SVG mark-up are getting hashed, but the reference to that `<id>` in the `<style>` element is not, which is causing the image to break when using `clipPath`. Are these hashes necessary? Is it just for cache-busting? Can that be turned off as an option?

[code]

[code]

Thanks.

[2016-12-16 03:16] matthewwithanm commented on #44
Hi @mikeriley131! No it's not for cache busting, it's to guard against weirdness that comes from having two elements with the same id on the page (e.g. the wrong one being used as a mask). You can disable it with a prop; see the README.

[2016-12-16 03:16] #44 closed

[2016-12-16 16:13] mikeriley131 commented on #44
Ah, I completely missed that in the README. Sorry about that. Thanks for the reply.

[2016-12-29 04:41] nikoloza commented on #35
Same here: it shows that error when you toggle remove and add it or parent element. Will try to reproduce it in fiddle.

[2016-12-29 07:51] pozylon commented on #35
@gilbarbara thanks for posting that link about isMounted, i might have some memory leaks in my app then...

Btw:
The setState warning suddenly disappeared in my project, I have the strong feeling that it had something to do with the componentWillMount -> componentDidMount change. Since Sep 7 I updated react-inlinesvg, react, react-dom and a lot of other packages so it's hard to tell.

[2016-12-29 13:41] gilbarbara commented on #35
I'm having this error in an app I'm working on. I'll try to understand what's going on and let you know.

[2016-12-29 13:43] #28 closed

[2017-01-04 03:11] gilbarbara commented on #35
Fixed in 4103c1b268f2771ccaae8d4e43d628ec1ff0891f

[2017-01-04 03:11] #35 closed

[2017-01-17 17:29] yoannmoinet opened #47 "Pass `tabindex` to the svg's wrapper"
Hi !
Is there a way to pass the `tabindex` attribute to the `span` wrapper of the SVG?

I'd love to be able to declare my ISvg component like that `<ISvg tabIndex={0} src={src} />` so the `tabIndex` prop sets the `tabindex` attribute on the wrapper.

Thank you.

[2017-01-18 13:38] yoannmoinet commented on #47
Nevermind, I've found a solution by wrapping the `<ISvg />` component.

And I think there would be another solution by using the `wrapper` props, but I couldn't make it work.
There may be a lack of documentation around the usage of `wrapper` though.

[2017-01-18 13:38] #47 closed

[2017-01-25 10:14] AvraamMavridis opened #48 "svg is not updating if the src change dynamically"
There are cases where the src comes from the props of a component dynamically and changes dynamically, in my case:

[code]

The `Isvg` is not updating. (I am sure it doesnt has to do with my code because switching to ReactSVG solve the issue). I think it has to do with the `shouldComponentUpdate`

[2017-01-27 20:48] blunatic commented on #48
I've had this issue before and solved it by updating the key of the <InlineSVG /> on each src change.

[2017-02-07 02:14] gilbarbara commented on #48
Yeah, you should update the `key` props when the source changes.

[2017-02-07 02:14] #48 closed

[2017-02-21 14:59] dmitrylebedev opened #49 "<use> example, please"
Hi, could you write an example with `<use>` and your component?

[2017-03-01 23:48] bryant988 opened #51 "Click handler on wrapper"
What is the best way to add an onClick handler to the wrapper element?
The idea is to avoid adding unnecessary extra divs around the SVG, especially since it already comes with a wrapper

[2017-03-07 22:40] imdevan opened #52 "No style prop"
One big thing that I noticed was that this component does not have the ability to add a style object to it, like I can with every other react component.

This can be done the same way that the className is added to the inner component.

I imagine that the style would be added to the wrapper, but the svg also makes sense.

[2017-03-07 22:42] imdevan commented on #52
Just saw that this is in pr! Can that be merged? It's been there since December.

[2017-03-13 17:19] vzaidman opened #53 "uniquifyIDs misses a case"
for the following case, uniquifyIDs missing changing the id:
`<path fill="url('#someId')"`
because of the quote.

(the library expects `<path fill="url(#someId)"`)

[2017-04-06 17:25] srinehart commented on #51
The `wrapper` prop can accept a function that returns a component instance. That function will receive an object with 2 properties: `className` and `dangerouslySetInnerHTML`. Using this can you create your own wrapper component. Here's a quick example that helps hide the messy parts:

[code]

Usage example:

[code]

[2017-04-11 12:02] lumio opened #55 "src-change won't trigger new request"
Hi 😀

I just found out that changing the `src`-prop won't do anything, once the SVG got loaded.
The old inline SVG should be replaced as soon as the new one got loaded.

Right now I solved it by rendering two different `Isvg`s with two different keys.

[2017-04-11 16:28] cw-mleparc opened #56 "React.PropTypes deprecation warnings"
As of React v15.5.0 any use of React.PropTypes throws a warning, which means any project using react-inlinesvg is getting these warnings as well even if they clean up their own usages of PropTypes.

https://facebook.github.io/react/blog/2017/04/07/react-v15.5.0.html

[2017-04-11 17:11] bryant988 commented on #55
i solved this by setting the `key` prop on the `Isvg` tag to match the `src` prop. That way, whenever the `src` changes, they `key` changes, and it toggles the change

[2017-04-11 17:13] bryant988 commented on #55
`<Isvg
  key={this.props.src}
  src={this.props.src}
  ...
/>`

[2017-04-14 09:55] lumio commented on #55
@bryant988 that's what I meant with:

The problem with this: It flickers when changing the `src`. I would expect that the new SVG is rendered after it's being loaded

[2017-04-14 19:45] davidsonfellipe commented on #56
@cw-mleparc PR created for it.

cc// @matthewwithanm

[2017-05-01 05:36] gilbarbara commented on #55
@lumio You could use the `preloader` method, CSSTransitionGroup or something like it.
Transition those changes goes beyond the scope of this library.

[2017-05-01 05:36] #55 closed

[2017-05-01 05:45] gilbarbara commented on #52
Added in 332b4a6579c898e478a3c27445276d01207be185

[2017-05-01 05:45] #52 closed

[2017-05-02 03:04] #51 closed

[2017-05-05 20:18] #56 closed

[2017-05-10 15:22] DimaRGB commented on #26
Or, better, to replace <style> tag to inline styles.

[2017-05-20 01:11] pwc-mohammed opened #58 "Accessing PropTypes via the main React package is deprecated..."
import PropTypes from 'prop-types'

[2017-05-20 03:27] Arlefreak commented on #58
Duplicated #56

[2017-06-07 11:00] jonascoenen005 opened #59 "id's are overwritten"
When importing an svg via path, the id's of every element are overwritten like following:

<path d="..." id="path-1"></path>

becomes:
<path d="..." id="path-1___450955318"></path>

[2017-06-07 11:03] #59 closed

[2017-06-07 11:03] jonascoenen005 commented on #59
Closing due already existing function for this

[2017-06-16 15:29] chrismllr opened #60 "Warning: Accessing factories like React.DOM.span has been deprecated..."
**Versions:**
`react-dom: 15.6.1`
`react: 15.6.1`

**Full warning:**
[code]

Triggered by line 283 in `index.js`
https://github.com/matthewwithanm/react-inlinesvg/blob/master/src/index.js#L283

Further reference:
https://github.com/facebook/react/tree/master/packages/react-dom-factories

[2017-07-18 00:06] gilbarbara commented on #60
fixed in 0.6.1

[2017-07-18 00:06] #60 closed

[2017-07-18 00:06] #58 closed

[2017-07-18 00:07] #53 closed

[2017-07-18 00:07] #49 closed

[2017-07-18 00:08] #26 closed

[2017-07-22 13:49] Evanion opened #62 "add support for ratio"
This is a great component, solve my issue beautifully!

I'm using it to laod icons form the [uikit library](https://getuikit.com/docs/icon), and they use the ratio attribute on their svgs to size the icon.

default:
[code]

ratio 2:
[code]

As you can se the ratio also multiplies the width and height attributes with the ratio.
Would it be possible to add this to your API?

[2017-08-11 13:31] jonascoenen005 opened #63 "Load svg without wrapper"
Hello,

Is there a possibility to load a SVG without a wrapper around it? because the wrapper gets classes injected that are messing up my css

classes that are injected: isvg loaded

[2017-08-11 14:49] #63 closed

[2017-08-11 14:50] jonascoenen005 commented on #63
I figured that this is a react component which always should return a single element, thus the wrapper

[2017-08-11 14:52] jonascoenen005 opened #64 "Componentdidmount svg is pending?"
When I load a SVG I noticed that when I want to select an item in my svg with jQuery in componentDidMount, the SVG is pending (it has the class pending),

How do you solve this issue?

[2017-08-29 12:52] harmvandendorpel opened #65 "Add support for className as array"
Unlike many React components, the `className` attribute does not accept an array with multiple class names. It would be great if an array could be given as attribute value.

[2017-08-29 13:02] #65 closed

[2017-09-01 13:53] Otouto opened #66 "ID hash issue"
Hello, I've faced one strange issue. If you try to render the same icon twice and first one is hidden (with `display: none` or `visibility: hidden`) it's corrupt rendering, because browser fails to apply hidden masks correctly.

It's look like this: https://jsfiddle.net/Ln5pyzx4/
But should be: https://jsfiddle.net/Ln5pyzx4/1/
It is real result of inlinesvg generation.

I understand that this is v

[2017-09-20 20:00] TroutZen commented on #51
Ended up using this implementation as well, but FWIW, would be really nice to see this as part of the API. Thanks for the nice library.

[2017-09-20 20:06] gilbarbara commented on #64
Can you post example code?

[2017-09-20 20:08] gilbarbara commented on #62
Not really since `ratio` isn't part of the SVG specification.

[s]

[2017-09-20 20:08] #62 closed

[2017-09-20 20:09] gilbarbara commented on #41
PRs are welcome

[2017-09-26 19:01] GasimGasimzada opened #67 "Stopped working after upgrading my project to React 16"
I don't know what the problem is but I think it has something to with React version mismatch between 15.6 and 16.

[2017-10-10 13:55] gilbarbara commented on #67
Are you the standalone version?

[2017-10-10 15:56] GasimGasimzada commented on #67
What do you mean? It is the version installed as mentioned in Github page. If there has been an update, I will check it out.

[2017-10-27 12:38] #67 closed

[2017-10-27 22:07] gilbarbara commented on #66
hey,

Let me see if understood correctly.
The second SVG component using the same src would break because is trying to apply the first component `defs` using the same ID.

Yeah, I see that happening since the id is the same. I will fix for the next release.

[2017-10-29 04:55] gilbarbara commented on #64
use the `onLoad` callback since the load is async

[2017-10-29 04:55] #64 closed

[2017-10-29 13:57] #41 closed

[2017-10-29 13:59] #30 closed

[2017-10-30 00:46] gilbarbara commented on #42
fixed in `0.7.0`

[2017-10-30 00:46] #42 closed

[2017-10-30 00:46] gilbarbara commented on #66
fixed in `0.7.0`

[2017-10-30 00:46] #66 closed

[2017-10-31 21:37] patotoma commented on #66
I found this bug is still presented in `0.7.0`,
have to use custom **uniqueHash** property as a workaround.

[2017-11-01 11:11] sinn1 opened #70 "Does this support serverside rendering?"
Since svg is loaded through an XHR request, the serverside rendered dom for the svg element is in the 'pending' state when it's returned to the browser.

Is there currently any way to turn off loading through XHR if component is rendered on server?

e.g fall back to

`<img src={svgUrl} />`

[2017-11-01 11:39] gilbarbara commented on #66
@patotoma please post some example code. I couldn't replicate this.

[2017-11-01 11:40] gilbarbara commented on #70
I don't think so.
Feel free to open a PR.

[2017-11-02 15:05] sinn1 commented on #70
Thanks for replying. I'll look into creating a PR when I get some time.

[2017-11-10 18:59] shanimal opened #73 "Use svg as wrapper"
Is it possible to load the svg without a wrapper? Applying props directly to the SVG element?

Where
[code]

Renders
[code]

[2017-11-10 21:48] gilbarbara commented on #73
Nope.
The wrapper is used to render all loading states: the loader, the fallback or the SVG itself.

[2017-11-10 21:48] #73 closed

[2017-11-10 22:10] gilbarbara commented on #70
@sinn1
Can you elaborate on your question?

What do you mean by "turn off loading through XHR"? It's the whole point of this package.
The `pending` state is the default because the component still needs to load the SVG file. Or fail and render the fallback.
It will be in that state until `componentDidMount` is triggered, usually when the client opens it in a browser.

Do you want to render the ima

[2017-11-11 22:54] sinn1 commented on #70
Yea I agree regarding the whole point of the package... and I can wrap this component in another component that renders image directly if rendered on serverside.

Was just wondering if there was support for this by default, e.g. through some prop.

[2017-11-11 23:02] gilbarbara commented on #70
I think this behavior goes beyond the scope for an async SVG loader.
Cheers

[2017-11-11 23:02] #70 closed

[2017-11-13 05:30] McBenny opened #74 "Provide a default size."
As an SVG image has no particular size, its default size is its parent container's size. If the size is determined by CSS, in a large file, or calculated by JS for example, depending on the speed of the connection or execution, the SVG might rendre in the maximum size possible (ie the window). To avoid this, adding a width and/or height as an attribute in the svg tag could be a good idea.
Any styl

[2017-11-13 11:10] gilbarbara commented on #74
Hey

I think this goes beyond the scope of this library. It shouldn't make assumptions about what it's loading and how it should be rendered.

It will be the same as a XHR library returning an array by default...

[2017-11-13 11:10] #74 closed

[2017-11-13 22:20] McBenny commented on #74
I do agree, this is opinionated, but the subject is still valid: in terms of accessibility, setting initial dimensions is a valid concern.
The way the module works doesn't give the opportunity to do it (or I'm missing something).
I think just passing an object of key/value pairs that would be translated into attributes and their value would be a solid solution, too loose, but accepting certain att

[2017-11-16 03:09] rheinheimer opened #75 "svg not updating with state change"
I am using react-inlinesvg for a thumbnail image that should be updated if the underlying data generating that image changes. I only want to update the svg when the thumbnail is seen/mounted. When the state changes with the updated svg (a new url for the "src" attribute), I would expect the image also to change. However, I must do a page refresh to see the change.

Any thoughts? I'm thinking this

[2017-11-16 14:59] rheinheimer commented on #75
Apologies, but I realized it was my underlying svg source that was not changing. Closing, as I couldn't figure out how to delete this thread.

p.s. Thanks for the great component!

[2017-11-16 14:59] #75 closed

[2017-11-16 15:19] gilbarbara commented on #75
@rheinheimer Oh, cool. I was about to take a look at this. I'll add tests for this anyway.
Thanks!

[2017-11-20 22:48] Vadorequest opened #77 "[Discussion] Don't load SVG through network but somehow inject it"
This is not an issue or feature request, but I'd like to explain an idea and see if it's actually doable.

I just discovered this repo because I wanted to display a SVG image in my app. I'm using create-react-app and had to look for workarounds in order to load SVG images as "Components".

But I eventually found out (after successfully loading it as a component) that my SVG file was containing `<s

[2017-11-27 11:58] nialloc9 opened #78 "Jest snapshots failing due to unique hash"
Jest tests seem to be failing for every test that include react-inlinesvg due to the unique hash not matching. As the hash changes every time the test is run the snapshot does no match. Is there a way of testing this without breaking tests? Attached is an image of the failing snapshot test.

![screenshot from 2017-11-27 11-54-33](https://user-images.githubusercontent.com/14121652/33265640-582d1476

[2017-11-27 21:50] gilbarbara commented on #77
hey,

You could try to convert the SVG to base64 and load it with this module.
Or edit the SVG tags to [React compatible](https://reactjs.org/docs/dom-elements.html) properties and load as a normal component.

[2017-11-27 21:50] #77 closed

[2017-11-27 21:53] gilbarbara commented on #78
Yes, using props.
You can turn hashing off with `uniquifyIDs` or pass your own hash with `uniquifyIDs`

[2017-11-27 21:53] #78 closed

[2017-11-27 22:31] nialloc9 commented on #78
Yes this was actually what I did earlier today to fix this but I was kind of hoping that there might be another solution out there that didn't involve changing the code to make the tests work. Even though it doesn't effect how the application runs and works perfectly well.

[2017-11-28 00:39] gilbarbara commented on #78
I did update the minor version, that requires you to update it manually.

But I failed to mention the unique hash changes in the [0.7.0](https://github.com/gilbarbara/react-inlinesvg/releases/tag/0.7.0) release note, sorry.

[2017-11-28 08:27] nialloc9 commented on #78
Thats cool. Awesome job by the way.

[2017-12-04 20:38] wgottschalk commented on #51
I was able to solve this problem in a slightly different way
[code]

[2017-12-05 14:55] kishan-prolix opened #81 "facing issue with new released 0.7.2"
looking for modules in /home/kuldip/node_modules
        No description file found
        Field 'browser' doesn't contain a valid alias configuration
        No description file found
        no extension
          Field 'browser' doesn't contain a valid alias configuration
          /home/kuldip/node_modules/react-inlinesvg doesn't exist
        .js
          Field 'browser' doesn't contain a va

[2017-12-05 14:59] crohrer commented on #81
The problem seems to be caused by a missing lib directory - see https://github.com/gilbarbara/react-inlinesvg/commit/65d53b3bc65c9a2bf2d9b1a2a2c9d9adfd02a435#r26062567

[2017-12-05 15:45] gilbarbara commented on #81
My bad! I forgot to add some NPM options to package.json
Please try 0.7.3 and let me know if it works.

[2017-12-05 16:37] crohrer commented on #81
Now the module is found correctly when I run my dev-watcher, but my build-script throws this error:
[code]

[2017-12-05 21:01] Alex-Mann commented on #81
I am also getting this issue with create-react-app

[2017-12-05 21:25] gilbarbara commented on #81
@crohrer @Alex-Mann
I've identified a minor bug and I'm fixing now. I'll release a new version later tonight.

About the building failing, if you are using webpack 2 or 3, it will load the `module` field (if present) instead of `main` from package.json.
You can read more about it in the [documentation](https://webpack.js.org/configuration/resolve/#resolve-mainfields)

You have 2 options:
- change

[2017-12-05 22:51] gilbarbara commented on #81
I had to downgrade the babel options to not use `targets.node` after all.
The uglify that webpack uses don't support es6 and it would break create-react-app.
`module: es/index.js` now exports a semi-es6 version that works as usual in 0.7.4

Sorry about the mess. Too cutting edge. ⚡️

[2017-12-05 22:51] #81 closed

[2017-12-07 12:18] akabab opened #82 "component renders my whole app instead of provided 'src' svg"
Using version `0.7.4` & `create-react-app`

[code]

![screen shot 2017-12-07 at 12 13 43](https://user-images.githubusercontent.com/6205705/33714844-60b11f12-db48-11e7-94d1-183d1be65be5.png)

I have no idea why it's rendering the whole React app inside the inlinesvg component.. any idea?

[2017-12-07 13:14] gilbarbara commented on #82
Your server is probably giving a 404 page for the `./logo.svg` request and the SVG is just rendering it.
Make sure the svg file is available in the requested URL.

[2017-12-07 13:14] #82 closed

[2017-12-07 13:34] akabab commented on #82
thanks

[2018-01-08 13:00] sadokmtir opened #83 "Styles are overwritten when multiple multiple SVG inlined on same page due to embedded style tags"
When you have two embedded svgs on the same page, the style tags that are contained in each svg can conflict... often because the same designer used the same layer names or styles in the original document. There are not namespaces per document inlined svg, and no natural separation as when letting the browser load from file, so when embedding multiple files in the page, the style tag of the second

[2018-01-08 13:26] gilbarbara commented on #83
hey,

That's how the cascading in CSS works...
I can't think in a way to change these declarations reliably within `<style />` tags since there's no clear pattern on how people write them.

If you have a suggestion, feel free to open a PR.

[2018-01-08 13:26] #83 closed

[2018-01-08 13:31] sadokmtir commented on #83
I though about scoping the css coming from each SVG file.

On 8 Jan 2018 2:26 PM, "Gil Barbara" <notifications@github.com> wrote:

hey,

That's how the cascading in CSS works...
I can't think in a way to change these declarations reliably within <style
/> tags since there's no clear pattern on how people write them.

If you have a suggestion, feel free to open a PR.

—
You are receiving this becau

[2018-01-08 13:34] gilbarbara commented on #83
How?
Since there's no pattern on how people write `style` tags within SVGs, how can I scope it reliably?

[2018-01-31 21:43] mackbrowne commented on #78
@gilbarbara this still seems to be adding a uniqueHash prop to my components :( . is it possible it isn't fixed yet?

[2018-01-31 21:47] mackbrowne commented on #78
![screen shot 2018-01-31 at 4 43 58 pm](https://user-images.githubusercontent.com/1291776/35649204-55edbc96-06a6-11e8-8911-0b2e5bb80df5.png)

Here is a screenshot to show you jest is still failing even with the prop set to false.

[2018-02-01 00:15] gilbarbara commented on #78
@mackbrowne fixed in 7f8dd862aa9b46c577ad4405436c5bdc288512e8
published as 0.7.5

[2018-02-05 11:28] nialloc91 commented on #78
@gilbarbara great work. Thank you.

[2018-02-05 17:54] mackbrowne commented on #78
@gilbarbara thanks upgrading to 075 fixed it!

[2018-03-07 00:17] julianguyen commented on #20
@gilbarbara Is there a way apply a class or id on an svg?

[2018-03-07 00:44] gilbarbara commented on #20
@julianguyen yes, just pass a `className` prop to SVG component. I've just added that to the README.

Or if you really need IDs your could wrap the SVG component with an element with ID and use `#myid svg` as the selector.

[2018-03-07 00:53] julianguyen commented on #20
Thank you!!!

[2018-03-07 04:17] julianguyen commented on #20
@gilbarbara I'm trying override the width and height of the SVG using CSS via the className, but it's not working. Do you have any ideas?

[2018-03-08 18:59] julianguyen opened #90 "Support for alt text and ARIA tags?"
I want to add alt text and ARIA tags to my SVGs, is this supported? If not, can it be? Accessibility is important :D

[2018-03-09 00:20] gilbarbara commented on #90
feel free to submit a pull request

[2018-03-12 22:24] julianguyen opened #91 "Using react-inlinesvg in an npm package"
When I use react-inlinesvg in an npm package and add it to another project, I get this error. Any ideas how to resolve?

[code]

I tried setting .babelrc to
[code]

[2018-03-13 04:16] gilbarbara commented on #91
Not really.
Are you using it as a dependency in the other module? Or peerDependency? Which version?

It might be something about babel usually not been used to transpile node_modules but the es version is pretty much compatible with node 6+ and there's no sourcemap.

Try to load the `react-inlinesvg/lib` instead.
Switch the preset to `babel-preset-env`

Let me know if found out why this is happeni

[2018-03-13 05:18] julianguyen commented on #91
@gilbarbara It's a dependency (the most recent version) in another module. Where would you load `react-inlinesvg/lib`?

Thanks for your help!

[2018-03-13 12:04] gilbarbara commented on #91
I don't how you are using it, so I can't say where...

[2018-03-16 23:16] gilbarbara commented on #91
Nope
I think you are missing some babel transforms. Try to load the react preset.
Since this is an implementation problem, not related to this module, I'm closing this issue.

[2018-03-16 23:16] #91 closed

[2018-03-16 23:23] julianguyen commented on #91
@gilbarbara I put
[code]

But it doesn't work :/

[2018-03-16 23:25] gilbarbara commented on #91
I can't know what's happening without seeing the whole thing.

[2018-03-16 23:27] julianguyen commented on #91
Totally understand. Can't show it since it's private repo. Thanks for answering my questions!

[2018-03-29 16:23] robrechtme opened #93 "Uniquify class names"
My SVGs are filled with a `style` tag inside, and some general classnames to choose a fill color.
This causes conflicts when multiple SVGs are loaded on one page.

[2018-03-29 16:28] gilbarbara commented on #93
Meaning?

[2018-03-29 17:13] RobrechtM commented on #93
Duplicate of #83 , sorry.
This means that one SVG its fill color is overwritten by the other SVG. Obviously you can just pick better classnames for each color, but Illustrator exports SVGs by default like the example in #83.

I thought uniquifying the classnames (in the elements but also in the `style` tag) would be a good solution. Inlining all CSS of each SVG is also a possibility.

[2018-03-29 18:08] gilbarbara commented on #93
So `uniquifyIDs` won't help in this case, right?
This isn't something I want to support since Illustrator is really bad at SVG exporting. It would just bloat the library.

[2018-03-29 20:18] #93 closed, assigned to nobody

[2018-04-04 23:07] arcticbarra commented on #82
@akabab How did you fix this?

[2018-04-05 03:44] matthewwithanm commented on #82
@akabab It's an issue with your server. It can't find the svg at the path you're giving it.

@gilbarbara Do we not handle non-2xx responses or are the servers just returning 200s?

[2018-04-05 03:53] gilbarbara commented on #82
@matthewwithanm Yes, we do. However most webpack setups, including create-react-app, usually responds with the index.html for all paths, so a router could handle it.
So 200 all around.

[2018-04-05 04:34] matthewwithanm commented on #82
👍 awesome, thanks!

[2018-04-21 19:07] shukriadams opened #94 "Could we make the span wrapper optional and put the class in the SVG?"
This isn't a bug, but a request for a feature.  It has already been addressed and closed in https://github.com/gilbarbara/react-inlinesvg/issues/4
but I figured I'd try my luck.

Would it be possible for us to render the SVG with that SPAN wrapper it currently has? Maybe with an optional attribute like

    <InlineSVG className="myClass" src="mysource" nowrap=true />

 I know it might sound like n

[2018-05-03 16:28] DavidSvetlik opened #95 "Access node in onLoad handler"
Hi!

This library is very nice, thank you for it, but with inability to set various attributes its use is unnecessarily limited.

Would it be possible to add "component" (or "node" or whatever) parameter in onLoad handler which would provide access to newly created span component? Since there is no way to set width, height and other attributes I was thinking I would set them in onLoad event. But a

[2018-05-07 02:40] toddmedema opened #96 "Error: React.createElement: type is invalid"
To render properly and without error.

Page freezes / fails to render, and I receive this error:

[code]

I replaced this line in my render function: `<p><img src={'images/' + this.props.icon + '_small.svg'}></img></p>`
With `<p><SVG src={'images/' + this.props.icon + '_small.svg'}></SVG></p>`

15.6.2

N/A

[code]

[2018-05-23 06:33] atav32 commented on #94
Yeah I'm also running into unexpected alignment behavior with the `<span>` when the container is `display: flex`

[2018-06-06 17:36] pfarnach commented on #90
@julianguyen I had the same thought.  It seems like you can edit the SVGs directly to make them a11y-friendly:
https://css-tricks.com/accessible-svgs/#article-header-id-6

[2018-06-10 17:00] jasepellerin opened #97 "Idea: Pass through onClick prop to the rendered component"
Adding an onClick prop to an inlinesvg component would catch clicks targeting the rendered element.

Adding an onClick prop to an inlinesvg component doesn't do anything.

We use this library a good amount, and we typically end up wrapping the inlinesvg in some other wrapper to handle click events. It would be nice if we could simply pass in an optional onClick prop and not need the wrapper.

[2018-06-12 08:49] Cristy94 opened #98 "TypeScript defs"
Are there any TypeScript definitions for this module? I found none in the @types repository.

This is what I use so far, maybe the props should extend  `React.HTMLAttributes<HTMLDivElement>`

[code]

[2018-06-14 11:47] rajatsharma45 opened #99 "Height and Width of SVG icon"
Setting height and width of the svg icon.

[2018-06-21 07:10] ssmereka opened #100 "Do not cache a failed get request"
Just an idea for an enhancement.  Currently when setting `cacheGetRequests` to `true` a get request is only ever tried once.  To handle poor network connectivity and retries you could change this to when `cacheGetRequests` is `true` the request is only ever tried once if it was successful.

[2018-06-26 01:29] gilbarbara commented on #99
You can use CSS for that.
This module is a simple viewer for SVGs, I don't want to change unnecessary properties.

[code]

[2018-06-26 01:29] #99 closed

[2018-06-26 01:34] gilbarbara commented on #96
I don't see the `InlineSVG` component in your error stack and this module doesn't use `React.createElement` at all.

[2018-06-26 01:34] #96 closed

[2018-07-17 08:36] dirtyhenry commented on #90
I started looking into how to implement this issue.

A good place could be within `processSVG` but about that, I had a question: how come SVG processing is done via regular expressions based substitutions as opposed to creating a DOM element from the SVG? Performance reasons? Compatibility reasons?

[2018-07-19 08:22] marudka opened #102 "<title> tag"
What do you think about adding support for <title> tag? Sometimes it's important for SEO.

Edit:
I added PR with support for title.

[2018-07-25 12:21] #102 closed

[2018-09-06 05:22] bologer opened #104 "remove "isvg loaded" from list of classes on wrapper"
Ability to overwrite `isvg loaded` classes on the `wrapper`

[code]

[code]

[code]

16.4.2

-

-

[2018-09-06 05:25] bologer opened #105 "Add ability to specify custom attributes, e.g. title"
Ability to add custom attribute, e.g. `title="Helleworld"`.

Maybe if props is one of the non predefined, it could make it as attribute of `wrapper`.

e.g. onClick, etc. would be useful as well

[code]

Does not add custom attributes

[code]

[code]

16.4.2

[2018-10-03 18:40] shreshthmohan commented on #99
@rajatsharma45 You can do this:

In react:
[code]
In CSS
[code]

[2018-10-07 21:26] Wsiegenthaler opened #106 "Impending deprecation of componentWillMount lifecycle method in React 17"
Just a heads up - React strict mode now warns that `InlineSVG` uses the soon to be deprecated lifecycle method `componentWillMount`:

[code]

Resolving this may require a more thorough review of the `InlineSVG` component. See [official blog post](https://reactjs.org/blog/2018/03/29/react-v-16-3.html) for details.

[2018-10-21 13:39] #106 closed

[2018-10-21 13:43] gilbarbara commented on #104
The `loaded` class is an indicator that the file was successfully fetched.

[2018-10-21 13:43] #104 closed

[2018-11-19 19:50] rob2d commented on #105
+1

Also as corollary here cannot attach a `className` prop to SVG; instead it only styles the span surrounding things which is not a responsive way to handle this.

[2018-11-23 18:10] #94 closed

[2018-12-21 15:15] moisadoru commented on #104
The loaded fail/success situation can also be handled via the `onError` callback. In some projects, the hardcoded `loaded` classname, being too generic, applies unwanted css styles, and the lack of ability to suppress it, or control it, and the closure of this issue led to abandoning and looking for another library. Too bad.

[2019-01-16 21:43] nickmccurdy commented on #90
I wrapped this library with a span that has the aria-label prop: https://github.com/MyCryptoHQ/ui/blob/master/src/atoms/Icon/Icon.tsx#L77

[2019-01-16 21:45] nickmccurdy commented on #97
Seems like a duplicate of #105 which is more general

[2019-01-17 09:48] nickmccurdy commented on #98
I started a pull request: https://github.com/DefinitelyTyped/DefinitelyTyped/pull/32238

[2019-01-19 21:13] gilbarbara commented on #98
I'll create a local definition for the next major release

[2019-01-19 22:11] nickmccurdy commented on #98
My pull request was merged and you can install `@types/react-inlinesvg`.

Typescript’s handbook recommends either using a separate declaration package like this or porting the original project to TypeScript. I wouldn’t recommend moving this declaration file into the original package without porting everything

[2019-01-19 22:49] #98 closed

[2019-01-19 23:11] danpoq commented on #95
A solution to add attributes or transform the SVG has been released in `0.8.4` 🎉

[2019-01-19 23:12] danpoq commented on #90
A solution to add attributes or transform the SVG has been released in `0.8.4` 🎉

[2019-01-19 23:12] danpoq commented on #105
A solution to add attributes or transform the SVG has been released in `0.8.4` 🎉

[2019-01-19 23:33] gilbarbara commented on #105
On that note, I'm refactoring the code and removing the need for processing.

[2019-01-21 10:43] gilbarbara commented on #105
@danpoq
It's a complicated solution. I'll keep the processing for cases where the user needs to replace color or any other nested properties but adding a `title` and `description` props is simpler for users.
Also spreading the additional props on the SVG tag.

[2019-01-28 00:00] gilbarbara commented on #105
Hey

There is a new version with support for title, description and custom props.
Can you please try it? `npm i react-inlinesvg@next`
There are a few changes in props, you can check it [here](https://github.com/gilbarbara/react-inlinesvg/tree/next)

[2019-01-28 00:01] gilbarbara commented on #90
Hey

There is a new version with support for prop spreading that will work with ARIA
Can you please try it? `npm i react-inlinesvg@next`
There are a few changes in props, you can check it [here](https://github.com/gilbarbara/react-inlinesvg/tree/next)

[2019-01-28 00:01] gilbarbara commented on #95
Hey

There is a new version with support for title, description and custom props.
Can you please try it? `npm i react-inlinesvg@next`
There are a few changes in props, you can check it [here](https://github.com/gilbarbara/react-inlinesvg/tree/next)

[2019-01-28 00:02] gilbarbara commented on #97
Hey

There is a new version with support for title, description and custom props.
Can you please try it? `npm i react-inlinesvg@next`
There are a few changes in props, you can check it [here](https://github.com/gilbarbara/react-inlinesvg/tree/next)

[2019-01-28 00:02] gilbarbara commented on #100
Hey

There is a new version with support for title, description and custom props and an updated cache system.
Can you please try it? `npm i react-inlinesvg@next`
There are a few changes in props, you can check it [here](https://github.com/gilbarbara/react-inlinesvg/tree/next)

[2019-01-28 00:03] gilbarbara commented on #1
I don't think this is relevant anymore.

[2019-01-28 00:03] #1 closed

[2019-01-31 12:21] ahtcx commented on #104
@gilbarbara any chance on reconsidering this?

[2019-01-31 23:11] gilbarbara commented on #104
@ahtcx try `npm i react-inlinesvg@next`

[2019-03-06 16:11] arturlagutin opened #110 "react-inlinesvg@0.8.4" has unmet peer dependency "prop-types@^15.0.0""
No NPM warnings during installation.

warning " > react-inlinesvg@0.8.4" has unmet peer dependency "prop-types@^15.0.0".

Try to install the package.

16.8.1

~

~

[2019-03-06 16:44] gilbarbara commented on #110
Hey,

That's how peer dependencies [work](https://docs.npmjs.com/files/package.json#peerdependencies).
You need to install it in your project to avoid duplication.

[2019-03-06 16:44] #110 closed

[2019-03-07 14:27] arturlagutin commented on #110
Why don't make it a bundled dependency, like it is done in many other packages? Not everyone uses PropTypes nowadays (Flow/TypeScript users for example), so I wouldn't consider it an essential package. Many people will hesitate to add it as a first-party dependency to their projects just to please `react-inlinesvg`.

[2019-03-18 16:42] mjamesderocher opened #111 "Support for inline script tags"
I am trying to use a SVG with a script tag in it. The SVG code is taken from [here](https://developer.mozilla.org/en-US/docs/Web/SVG/Element/script#Example)

It has an onchange handler set on the circle, but when I click it, it thows the error that the function is undefined.

I am using version 0.8.4.

I have also tried it with the "next" version, and the behavior is different. I get the error "Ex

[2019-03-26 03:48] dylanpinn commented on #110
I agree with @arturlagutin, I think FB have recently updated the usage instructions for how to include `prop-types` [link](https://github.com/facebook/prop-types#how-to-depend-on-this-package).

I am currently using `flow` and would like to not have to include `prop-types` as an explicit devDependency if not needed in our project.

[2019-04-03 11:41] gilbarbara commented on #111
hey,

Yeah, there's no support for the script tag inside an SVG to avoid XSS.
You can try [svgr](https://github.com/smooth-code/svgr) to convert your SVGs.

[2019-04-03 11:41] #111 closed

[2019-04-25 17:34] Yvour opened #112 "Svg should be unfocusable"
Rendered SVG should not be focusable while 'Tab' is clicked

It is focusable (in Internet Explorer 11)

Add some svg element to the form which contains inputs with tabIndex property

16.6.3

3.4.3

No error stack, it just gets focus
The solution is to render the element with attribute
<svg focusable="false"></svg>
Current api does not allow to do it
https://stackoverflow.com/questions/18646111/dis

[2019-04-25 23:46] gilbarbara commented on #112
Can you please try the `next` version?

[code]

[2019-05-10 04:44] Joroze commented on #100
Hi @ssmereka & @gilbarbara ,

I have implemented the following feature request here: https://github.com/gilbarbara/react-inlinesvg/pull/113.

The main push for this pull request was to actually resolve a bug that I believe I found. I'm not sure if it's exactly a bug or intended feature that was implemented, but I believe my changes would complement it.

[2019-05-10 09:28] ajinkyawankhadeglobant opened #114 "Need a way to remove or hide <title> tag"
There should be a way to show or hide that title

Right now whenever we mouseover on any image the title display as file name. But what if we do not want to show title on mouse over.

Mouse hover on any image

[2019-05-10 14:32] Yvour commented on #112
Sorry for not answering yet.
I have it just checked.

The 'svg' tag generated by react-inlinesvg of newest version gets following attributes.
+ xmlns
+ id
+ data-name
+ viewBox
+ class

So no '**focusable**' attribute.
'svg' tag generated with react-inlinesvg has _onLoad_ event so the solution that can be performed is add ref to the React element and add '**focusable**' attribute in this handler.

[2019-05-15 02:38] gilbarbara commented on #112
You probably can achieve that with the `preProcessor` prop.

[2019-05-15 02:39] gilbarbara commented on #114
Can you please try the next version?

[code]

[2019-06-05 08:56] Sashkan opened #115 "Embed image in SVG"
I'm using your package to display SVGs from URLs, it works just great. However, I was wondering if it was possible to add another image, inside of the SVG, from a URL ?

[2019-06-05 11:51] gilbarbara commented on #115
Hey,

No, this package is a simple reader.

[2019-06-05 11:51] #115 closed

[2019-06-12 12:08] cameron-martin commented on #106
Why did this get closed without being addressed?

[2019-06-12 12:15] gilbarbara commented on #106
It's already fixed in the [next](https://github.com/gilbarbara/react-inlinesvg/tree/next) branch

[2019-06-12 12:19] cameron-martin commented on #106
Ah cool, thanks for the info.

[2019-07-14 04:42] teknetia opened #116 "Convert class to className in imported SVG data"
Currently when importing an SVG that includes `class=""` items they aren't converted to className="" causing DOM errors as below. Ideally, they should be changed as part of the inlining process to prevent issues.

[code]

[2019-07-15 15:49] gilbarbara commented on #116
Can you please try the next version?

[code]

[2019-07-16 08:35] teknetia commented on #116
So I tried that though am welcome to be told I have done it wrong!

`npm remove react-inlinesvg` followed by `npm i react-inlinesvg@next` then run the project. Now the SVGs don't appear at all though I can still see their code in the resultant HTML so I am a little lost for ideas on why that is the case.

I still get the same error in the inspector.

[2019-07-16 08:45] teknetia commented on #116
Did a quick downgrade test and they do come back once I downgrade back to the current release version. I also tried an SVG with no `class="whatever"` tags to see if it was related to them. Dropped a sample SVG below in case it helps.

[code]

[2019-07-17 16:12] #114 closed

[2019-07-17 16:13] #112 closed

[2019-07-17 16:27] gilbarbara commented on #116
I just tried with your example SVG and it got converted properly with the `@next` version, so I think it is a problem with your setup.

[code]

[2019-07-18 00:38] teknetia commented on #116
If it is a problem with my setup where could that issue lie? I am using it as below:

[code]

Do I possibly need to be calling the SVG tag a little differently? There is nothing related to this in my webpack config, just a straight-up file copy of the `/img` directory.

[2019-07-18 13:03] gilbarbara commented on #116
Is it working at all with `src="./img/icons/nav_settings.svg"`?
I usually load local files with `src={require('./local.svg')}`. This will also bundle the SVG in your build directory without the need to copy it.

But if you using local SVGs I think it would be better to use SVGR in webpack to convert them to React components instead of using this package.

[2019-07-18 18:31] gilbarbara commented on #100
@ssmereka @Joroze
I've refactored the cache system to immediately cache requests and exclude failed requests.
You can try it with:

[code]

[2019-07-18 18:31] #100 closed

[2019-07-18 18:32] #97 closed

[2019-07-18 18:32] #95 closed

[2019-07-18 18:33] #90 closed

[2019-07-18 18:33] #105 closed

[2019-07-18 19:56] Joroze commented on #100
@gilbarbara You should refactor the cache system from Array to Dictionary next to achieve that O(1) satisfactory 👍

[2019-07-19 00:12] gilbarbara commented on #100
@Joroze Done! 🚀

[2019-07-19 00:13] gilbarbara commented on #116
If you're still having problems after changing your setup, let me know.

[2019-07-19 00:13] #116 closed

[2019-07-19 00:24] gilbarbara commented on #100
v1.0.0 released! 🎉

[2019-07-19 07:09] valtism opened #117 "SVG is not a constructor function for JSX elements"
I get the title error when trying to use the V1.0.0 library in the way defined in the README. I also get another error: `JSX element does not support attributes because it does not have a 'props' property`.

I'm not sure if these warnings are accurate, but I cannot compile with Storybook with these changes.

Apologies if I am seriously off the mark here. I'm extremely new to React and Typescript.

[2019-07-19 12:17] gilbarbara commented on #117
Hey @valtism
I need more information:
Are you using create-react-app or a custom webpack? Which typescript version?

[2019-07-21 10:16] valtism commented on #117
This is not using create-react-app, we are using a custom Webpack. The Typescript version is 2.9.2

[2019-07-21 11:48] SimoneIrato opened #118 "After 1.0 def style is stripped off of elements"
After upgrading to 1.0 svg's aren't properly loaded anymore.

Inside defs for example, fills and strokes are removed from the elements.
After some debugging it looks like dom-to-react is the culprit stripping so called "not recognized" attributes, resulting in elements rendered without those attrs.

https://github.com/gilbarbara/react-inlinesvg/blob/master/src/index.tsx#L257

At this point node co

[2019-07-21 12:49] gilbarbara commented on #118
Hey @SimoneIrato
I've already identified this problem and I 'm working on a fix.
Can you post the SVG source code here so I can use it do test?

[2019-07-21 19:04] gilbarbara commented on #117
My suggestion is to upgrade some packages. It could be `@types/react` or the `typescript` itself.

[2019-07-21 19:05] gilbarbara commented on #118
Can you please try version 1.1.0?
Let me know if it fixes.

[2019-07-21 21:40] SimoneIrato commented on #118
Hi, unfortunately it's still not working.
Here's a sample from the svg
`
<svg xmlns="http://www.w3.org/2000/svg"
   version="1.1"
   xmlns:xlink="http://www.w3.org/1999/xlink"
   preserveAspectRatio="xMidYMid meet"
   x="0px"
   y="0px"
   viewBox="-20 0 300 120">

   <style type="text/css">
    .prova_font{font-family:sans-serif;letter-spacing:0px;word-spacing:0px;font-size:9px;}
    .prova_path{

[2019-07-22 06:23] gilbarbara commented on #118
Hey,
Can you create a demo of what's expected in codesandbox?

This is what is rendered when I drag your SVG to Chrome.

![svg-test](https://user-images.githubusercontent.com/31954/61610332-3c806a80-ac2f-11e9-84cc-5f0355e578f6.png)

Your file reference other 2 symbols that don't exist in this file. Are these symbols that don't render?
When I tried to load the file with this package I got the same

[2019-07-22 06:28] gilbarbara commented on #118
This is what got with this package:
![rendered](https://user-images.githubusercontent.com/31954/61610850-a6e5da80-ac30-11e9-93f3-80a12415b635.png)

Pretty much the same...

[2019-07-22 06:44] SimoneIrato commented on #118
Thank's for pointing that out, at this point I'm afraid that's a webpack loader configuration removing the attributes.
I'll keep searching and keep posted if I found anything new.

[2019-07-22 07:07] gilbarbara commented on #118
Are you using the image-webpack-loader? Configure it to skip some of the svgo's plugins or disable it completely to test.

[code]

[2019-07-22 07:15] valtism commented on #117
It does seem to be somewhat involved with `@types/react` but I can't seem to pin it down in our repository. I can confirm that it works with `create-react-app`.

[2019-07-22 07:36] SimoneIrato commented on #118
I'm tryiing it just now, it's really strange.
* In the sandbox it's working fine.
* While upgrading i didn't change webpack configuration
* Downgrading works again
* I'm using Webpack 4, my configuration for svg is the following
[code]
* The svg is actually an api response so loading it from the project it's not really the right repro.
* Debugging step by step the 'style' attribute with the fills

[2019-07-22 08:08] gilbarbara commented on #118
By downgrading, you mean this package?
Have you tried with 1.1.1? I have fixed a bug with the style parsing.

Can you send the API response without passing it through webpack or this package?

[2019-07-22 08:53] SimoneIrato commented on #118
Sorry I didn't try the 1.1.1
Now it works like a charm as before!

[2019-07-22 11:36] gilbarbara commented on #118
Awesome! :)

[2019-07-22 11:36] #118 closed

[2019-07-22 11:38] gilbarbara commented on #117
Alright! I'm closing this issue since there's not much else I can do.
Good luck!

[2019-07-22 11:38] #117 closed

[2019-07-24 04:09] gencer commented on #117
@gilbarbara This only happens on `>= 1.0.0`. `0.8.4` has no issues. I downgraded to 0.8.4 for now.

Using Typescript `latest` version. Extension interfere with something else or something is wrongly coded -i don't know for sure-. Can you check this please?

P.S.: This is already ongoing rails project but not a project created via `create-react-app`

[2019-07-24 12:47] gilbarbara commented on #117
@gencer I already checked this...
Please post the versions of react, @types/react and typescript

[2019-07-24 13:08] gilbarbara commented on #117
@valtism @gencer Please try 1.1.2 and let me know if it works

[2019-07-24 14:32] huston007 opened #119 "Is it possible to reduce bundle size?"
I really like the library thank you!
But currently `react-inlinesvg` size [is about 8Kb gzip](https://bundlephobia.com/result?p=react-inlinesvg) which is kind of big for functionality it covers.

Isn't it possible to reduce it?

[2019-07-24 15:04] gilbarbara commented on #119
Not really. Do you have any suggestion?
You can stick with 0.8.4 if it works for you or use [@svgr/webpack](https://www.smooth-code.com/open-source/svgr/docs/webpack/) to convert SVGs to React components.

I had a lot of issues about the string approach used in the previous version so I had to upgrade it to use a DOM conversion instead. Most of the bundle size increase came from that.

[2019-07-24 16:48] gencer commented on #117
@gilbarbara Sorry for late reply. I was going to post versions, however, I tested against `1.1.2` and it works!

Thank you so much for this extension and your fast help!

❤🎉

[2019-07-24 22:51] gencer opened #120 "trigger `preProcessor` multiple times"
On `0.8.4`, when I use `processSVG` method, i was able to re-render SVG with multiple times.

For example, lets say you send a message and message tick (svg icon) placed in as gray colored. After message delivered I update the state as delivered (`boolean`). This makes `processSVG` being triggered and SVG re-renders with new color because `delivered` is now `true`. I can replace fill color in `pro

[2019-07-25 07:50] Harsh1796 opened #121 "gfgf"

[2019-07-25 07:50] Harsh1796 opened #122 "gfgfg"

[2019-07-25 07:50] #122 closed

[2019-07-25 07:53] #121 closed

[2019-07-25 19:00] gilbarbara commented on #120
Hey,
That was a bug...
You can set a different `key` in the component to trigger a new render.

[2019-07-25 19:12] gencer commented on #120
A bug, that works for me. A bug with a purpose. :)

`key` did the trick.

Thanks!

[2019-07-26 00:59] #120 closed

[2019-07-29 15:39] zlanich opened #124 "How Do Get <svg /> DOM Node Ref"
I need to get the ref to the SVG element itself to manipulate it. `ref={...}` currently returns the ref to the `<InlineSVG />` itself. How can I do this?

[2019-07-29 16:05] gilbarbara commented on #124
Which version of this package?

[2019-07-29 16:54] zlanich commented on #124
@gilbarbara 1.1.2 - I `yarn add`'d it a couple days ago.

[2019-07-30 01:41] valtism commented on #117
Oh, forgot to comment on this, but this fix did work and we now have this in production! Thanks @gilbarbara!!

[2019-07-31 00:28] gilbarbara commented on #124
@zlanich
I've added an `innerRef` prop in 1.1.5

👍

[2019-07-31 00:28] #124 closed

[2019-07-31 00:41] gilbarbara commented on #119
I made some optimizations in the `react-from-dom` dependency and removed another one.
Yarn registry is outdated so bundlephobia isn't showing 1.1.5 yet but I think I shaved off about 1kb gzipped.
Nothing much else I can't do for now.

Thanks

[2019-07-31 00:41] #119 closed

[2019-07-31 15:32] zlanich commented on #124
@gilbarbara You're amazing. Thank you!

[2019-08-16 13:41] clentfort opened #125 "UniquifyIDs breaks data-urls"
When using `uniquifyIDs` any urls on `<image>`-elements will be broken as the unique-hash will be appended to the set URL.

Since local ID references would start with `#` I propose a check is added to this line https://github.com/gilbarbara/react-inlinesvg/blob/master/src/index.tsx#L172 that tests if the value of the attribute starts with `#` if the attribute is a `href``

[2019-08-19 05:04] diego-torres opened #127 "Use Axios to enable authentication headers"
I want to allow for headers configuration and other options like authenticating with the external resource, I think using Axios for the external request will be worth the try. Or by using the fetch, add a way to configure the request headers?

[2019-08-19 12:17] gilbarbara commented on #127
You could do the request yourself and set the `src` with the response.
This library is just an SVG loader.

[2019-08-19 12:17] #127 closed

[2019-08-19 12:30] #125 closed

[2019-08-19 13:05] gilbarbara commented on #125
The fix is on 1.1.6
Thanks!

[2019-08-21 18:17] tbonow2o opened #129 "add explicit support for file urls"
When wrapping up a React app with React-inlinesvg using Electron... the SVGs are not loading. The issue is with the fact that the file is being read locally from a file:// path, not from a server, so doesn't give response headers which is what react-inlinesvg is complaining about when the error comes back with "Content type isn't valid: "

Some smart person at Electron suggested something like the

[2019-08-21 18:48] gilbarbara commented on #129
Hey,

Loading local files isn't something this library should do. I'll remove that term from the README...
Webpack loaders do that for web apps, they load the file content and set it as a string.

If you need to load something from the file system, you should load it yourself and set the content in the `src` props.

[2019-08-21 19:03] gilbarbara commented on #129
The `Content type isn't valid` error must occur because the library is trying to parse `./path/to/file` as a string and that's not valid SVG markup.

Just load the file with `const image = fs.readSync(path, 'utf8')` and use it like `<SVG src={image} />`

[2019-08-21 19:03] #129 closed

[2019-08-21 20:47] issacgerges commented on #129
Hey @gilbarbara, thanks for the response. In this case, since @tbonow2o is already loading his app off the `file://` protocol, the relative paths are resolving correctly to other `file://` protocol URLs (so `./path/to/file.svg` is resolving from `file://Users/username/some/directory/index.html` to `file://Users/username/some/directory/path/to/file.svg`. This is a valid URL, but @tbonow2o is gettin

[2019-08-21 21:15] gilbarbara commented on #129
@issacgerges @tbonow2o

I'm pretty sure that `fetch` can't load `file://...` URLs. You could use a modified fetch for these cases, but I think that loading the file by yourself and using the content is way simpler. This library has support for a lot of cases by using the `src` with a proper SVG string or data input.

This is a simple SVG viewer and adding support for authentication, file system ac

[2019-08-21 21:36] issacgerges commented on #129
Makes sense, in electron `file://` is a privileged protocol and does work with `fetch`, but totally see how this makes less sense for you to support.

[2019-08-21 21:41] tbonow2o commented on #129
Use @issacgerges code above and built out a new version... works LIKE A CHARM!

[2019-08-24 20:56] pavelkornev opened #130 "Example doesn't work"
https://codesandbox.io/s/j25bv

![20190824225602](https://user-images.githubusercontent.com/748043/63642634-63b0d880-c6c2-11e9-82af-e4c94bcd4298.png)

[2019-08-24 21:23] gilbarbara commented on #130
Fixed, thanks!

[2019-08-24 21:23] #130 closed

[2019-08-27 20:42] bryant988 opened #131 "Dynamic classname prop not rerendering on DOM"
This might be related to the same issue as #48

I have a dynamic **className** prop being passed into svg component but it does not seem to rerender it to the DOM (even though **className** prop changes) unless i set the **key** prop to include the dynamic classname.

[code]

Is there a better way or am I possibly doing something wrong?
Could this possibly be an issue with the other props being dy

[2019-08-28 21:31] gilbarbara commented on #131
Hey,

Please create an example in [codesandbox](https://codesandbox.io/) or similar.

[2019-08-29 21:51] bryant988 commented on #131
https://codesandbox.io/embed/react-inlinesvg-classname-wupe6

[2019-09-11 02:09] idmadj commented on #131
Hey there, just ran into the issue myself. This is caused by the fact that props are only passed down once, when the SVG file has completed loading. Using the key prop kinda works around the problem, but doesn't allow CSS transitions to happen since a new node is mounted every time the key changes.

I've posted a potential fix. Happy to hear your thoughts @gilbarbara.

[2019-09-25 13:30] MrJohz opened #133 "The sourcemaps point to source files that aren't included in the NPM distribution"
The Typescript source files aren't included when I download the package from NPM.  However, they are referenced in the generated sourcemaps that are included.  This makes the sourcemaps largely useless, at least for consumers of the library.  The only way I'd be able to use them is if I downloaded the source files and manually inserted them into the right place, and if I've got to that stage, I ma

[2019-09-25 14:12] #133 closed

[2019-09-25 14:12] gilbarbara commented on #133
Hey,
It will be published in the next release

[2019-09-25 14:33] MrJohz commented on #133
Thanks!

[2019-09-25 17:13] gilbarbara commented on #131
Fixed in 1.1.7

[2019-09-25 17:13] #131 closed

[2019-10-08 23:08] katoha opened #134 "Gradients / Masks do not work when exported from illustrator using uniqifyIDs"
If you export an svg from illustrator with either the `internal CSS` or `inline style` options then the references to those styles are broken as they do not get updated with the id hash.

I was not able to get the `internal CSS` styles to update with the hash id as it appears this is a read only part of the SVG, however I was able to get the `inline style` version to work with the below code chang

[2019-11-13 05:31] i-fuyun opened #135 "It's have text bug!"
I use a svg with react-inlinesvg in react. It's not show the text on the svg.
![error](https://user-images.githubusercontent.com/5111701/68736025-81833f00-061a-11ea-9068-ae8ac7bbac55.jpg)

But, the svg is OK when opened in chrome alone.
![ok](https://user-images.githubusercontent.com/5111701/68736030-87792000-061a-11ea-8ca4-13af1ec0f001.jpg)

svg (the s2.svg is in the  s2.zip package)
[s2.zip](htt

[2019-11-15 23:14] pbn04001 opened #136 "Add className"
Add a new className attribute, and this code
![image](https://user-images.githubusercontent.com/9288336/68982138-05782b00-07c3-11ea-9d73-0234d9068882.png)

Wasn't sure how to propose a PR to make this change
ERROR: Permission to gilbarbara/react-inlinesvg.git denied to pbn04001. Could not read from remote repository. Please make sure you have the correct access rights and the repository exists.

[2019-11-15 23:53] gilbarbara commented on #136
ClassName is already pass down to the SVG.

[2019-11-15 23:53] #136 closed

[2019-11-18 23:11] gilbarbara commented on #135
I think it's fixed in version 1.2.0 (with react-from-dom 0.3.0 that handles the markup parsing)

[2019-11-18 23:11] #135 closed

[2019-11-18 23:12] gilbarbara commented on #134
Hey,

I've updated the attributes matches in fea6d5f4681148d6d404036ae421cb750768091e and released in v1.2.0.

About the internal CSS export, can you provide an example?
Thanks

[2019-12-11 08:14] i-fuyun opened #137 "It's have text bug also!"
I use a svg with react-inlinesvg in react. It's not show the text on the svg.
![image](https://user-images.githubusercontent.com/5111701/70603273-1d5f9500-1c31-11ea-811c-3bcffbc8563c.png)

The svg is OK when opened in chrome alone.
![image](https://user-images.githubusercontent.com/5111701/70603323-42540800-1c31-11ea-8768-4a40e4d824dc.png)

svg (the svg is in the .zip package)
[multimeter.zip](htt

[2019-12-11 18:55] gilbarbara commented on #137
This is handled by react-from-dom. Feel free to submit a pull request in that repo.

[2019-12-11 18:55] #137 closed

[2019-12-11 22:28] gilbarbara commented on #137
Anyway, I checked your file and it looks the same to me.
Which version are you using?

[2019-12-11 22:28] gilbarbara commented on #137
@i-fuyun
Anyway, I checked your file and it looks the same to me.
Which version are you using?

[2019-12-12 02:36] i-fuyun commented on #137
![image](https://user-images.githubusercontent.com/5111701/70677655-ba224100-1cca-11ea-9c0d-921a64e11ca1.png)
  "react": "^16.8.6",
 "react-dom": "^16.8.6",
   "react-inlinesvg": "^1.2.0",

But, when I use another SVG component(https://github.com/tanem/react-svg), the text is good.
PS: Because this react-svg component causes other problems, I didn't use it formally

[2019-12-20 09:12] i-fuyun commented on #137
It's not  react-from-dom' bug.
Because  when I convert SVG attributes to react format, SVG display is normal.
![image](https://user-images.githubusercontent.com/5111701/71243700-d87fe080-234b-11ea-82f1-0ba02c8bb57f.png)

https://codesandbox.io/embed/distracted-galois-jlwjp?fontsize=14&hidenavigation=1&theme=dark
@gilbarbara

[2019-12-23 13:09] astranavt opened #138 "IE11 svg tag is empty"
In ie 11, react-inlinesvg inserts an empty svg tag

``` <svg xmlns="http://www.w3.org/2000/svg" class="myclass" />```
how to fix?

[2019-12-23 14:12] gilbarbara commented on #138
It's impossible to know what's going on without seeing some code.
Please create a codesandbox or similar.

[2019-12-23 14:12] #134 closed

[2019-12-23 14:25] astranavt commented on #138
in console
Unable to get property 'Symbol(Symbol.iterator)_a.cgipohxhaet' of undefined or null reference
Could not convert the src to a React element

[2019-12-23 14:29] gilbarbara commented on #138
@astranavt I can't know what's going on without seeing the code...

[2019-12-23 14:52] astranavt commented on #138
https://codesandbox.io/s/nice-leaf-06fd2

[2019-12-23 15:34] gilbarbara commented on #138
Codesandbox isn't loading in IE11, but I get it to work with IE11 in https://react-inlinesvg.stackblitz.io/

[2019-12-24 07:55] astranavt commented on #138
how can I see the code?

[2019-12-24 12:32] gilbarbara commented on #138
https://stackblitz.com/edit/react-inlinesvg
But there's nothing special about it.
`<SVG src={require('./logo.svg')} width={100} />`

[2020-01-03 14:06] fireflypie opened #139 "broken compatibility"
Prior version of the package (prior to version 1) had a span class="isvg loaded" wrapper on top of the svg.

After the upgrade that wrapper is lost. I have used Styled-components to style every component in the project, even the icons, now all icons (and there are over 80 of imports are unstyled)

Example of an icon in the project.
[code]

I will be creating a seperate component to add this wrappe

[2020-01-03 21:54] gilbarbara commented on #139
That's why it's a major version upgrade and it's described in the [release](https://github.com/gilbarbara/react-inlinesvg/releases/tag/v1.0.0) notes.
You can keep using 0.x versions anyway.

[2020-01-03 21:54] #139 closed

[2020-01-08 16:42] doxic012 commented on #138
The code does not produce a valid dom element in IE using the 'react-from-dom' package at line 237:
![image](https://user-images.githubusercontent.com/3975568/71996915-59404700-323d-11ea-88c3-101ed281818e.png)

node is valid, element does not have any children though.

I've tested this with the following setup in typescript:
![image](https://user-images.githubusercontent.com/3975568/71997430-25195

[2020-01-09 13:07] gilbarbara commented on #138
@doxic012 Please post an example at stackblitz or similar.

[2020-01-09 14:38] doxic012 commented on #138
https://stackblitz.com/edit/react-ts-qkg1nc?file=DynamicIcon.tsx

I put a debugger into the method used in the preProcessor.
Debug into the code ie11 with f11 until you get to the getElement()-Method, where the node is converted.

![image](https://user-images.githubusercontent.com/3975568/72076213-7cc6c880-32f5-11ea-8905-6c0a414e0d57.png)

In this case it results in an object does not support meth

[2020-01-10 03:34] gilbarbara commented on #138
@doxic012 The tag isn't empty, I can see the SVG on IE11

<img width="846" alt="ie-11" src="https://user-images.githubusercontent.com/31954/72123718-eae4ad00-3340-11ea-9a20-aa257c6aeccf.png">
<img width="456" alt="chrome" src="https://user-images.githubusercontent.com/31954/72123719-eae4ad00-3340-11ea-8115-038b0e0e7615.png">

[2020-01-10 07:19] astranavt commented on #138
@gilbarbara
https://stackblitz.com/edit/react-wjzq1v
<img width="935" alt="Снимок экрана 2020-01-10 в 10 17 16" src="https://user-images.githubusercontent.com/30686052/72133424-69b60600-3392-11ea-9f1c-9a5219046f9e.png">

[2020-01-10 23:19] gilbarbara commented on #138
I see. I'll need a polyfill for `Number.isNaN` on IE.
I'll add to the README

[2020-01-10 23:19] #138 closed

[2020-01-27 21:22] imjakechapman opened #140 "Could not convert the src to a React element"
We're using react-inlinesvg and we have no issues with it in our project.
This issue arises when running jest. We have a wrapper SVG component that just passes the source to react-inlinesvg and this component causes all tests that include an SVG component.

We're using react-testing-library.

jest-config:

[code]

The test error itself:

[code]

I've boiled this down to something happening in the

[2020-01-28 03:31] gilbarbara commented on #140
Hey,

I've never used `identity-obj-proxy` but perhaps it doesn't provide the response this package needs.

You could add a `react-inlinesvg.js` to your test's `__mocks__` directory:

[code]

[2020-01-28 03:36] gilbarbara commented on #140
Reading about `identity-obj-proxy`, it is only [recommended](https://jestjs.io/docs/en/webpack#mocking-css-modules) to be used as a proxy with CSS modules.

But the `src` prop for this package needs to be a [string](https://github.com/gilbarbara/react-inlinesvg#props).

[2020-01-29 17:10] imjakechapman commented on #140
@gilbarbara This definitely fixed the errors. Holy moley that was a run around trying to figure out what was causing this. Absolutely glorious. Thanks for the push in the right direction. Definitely appreciate it.

[2020-01-29 17:10] #140 closed

[2020-02-13 09:13] karolis-sh opened #141 "Pre-render loader in SSR environments"
👋

I use the `loader` prop to show identical width + height box until the actual svg gets inlined. But on SSR environment `null` gets pre-rendered (due to https://github.com/gilbarbara/react-inlinesvg/blob/master/src/index.tsx#L386 ). I'd like the pre-rendered html to have the `loader` element to prevent content jumps when the JS gets loaded on the client side. Would you consider this as a desired

[2020-02-13 23:21] gilbarbara commented on #141
Hey,

This library depends on the DOM to parse and render the SVGs so I don't see how it could work with SSR without adding overhead for most users that don't need it.
How about creating a wrapper that renders this box for SSR and changes to the SVG component on the browser?

[2020-02-13 23:27] karolis-sh commented on #141
I totally understand the fact that this component can only be properly rendered on the client side. I could make a wrapper around the library, but since you're already checking `canUseDOM()` I think it makes sense to return the `loader` node in SSR environments. As pragmatically speaking a `loader` is something that should be rendered before the svg is inlined and I thought that pre-rendering the

[2020-02-14 00:01] gilbarbara commented on #141
Feel free to submit a PR.
Make sure it doesn't break any existing tests and doesn't increase the bundle size

[2020-02-17 06:30] nsoeth commented on #138
I found the problem. Had the same problem and if I remove the

`uniquifyIDs={true}`

it works in IE11.

[2020-04-22 18:26] OVigilante opened #144 "IE11 - InlineSVGError: Could not convert the src to a React element"
Hello,
On a project that I'm maintenance, initially I as used the version 0.8.4 and SVG worked fine in all Browsers.
In February I updated to the latest version, the 1.2.0 but, I'm having problems related to the refactoring that was made since version 1.0.0.
In Internet Explorer 11, that is the legacy that we support for this project, is showing two types of Errors.

First error:
- description: "U

[2020-04-23 12:30] gilbarbara commented on #144
Hello,

I don't support legacy browsers.
Are you sure you are importing react-app-polyfill before anything else in your entry script?
You can try core-js too.

[2020-04-23 12:34] #144 closed

[2020-04-23 14:26] OVigilante commented on #144
Hello,

I forgot to mention that the SVG Works on IE 11, using react-app-polyfill but, when I use this properties:

uniqueHash {string} ▶︎ a random 8 characters string [A-Za-z0-9]
A string to use with uniquifyIDs.

uniquifyIDs {boolean} ▶︎ false
Create unique IDs for each icon.

It gives the error that I mention in my first post.

And I tested with core-js and the same errors continue to show and

[2020-04-24 14:00] gilbarbara commented on #144
Please provide an example on stackblitz or similar (that runs on IE11) so I can take a look.

[2020-04-24 18:29] OVigilante commented on #144
This is an example without and with uniqueHash and uniquifyIDs.

Without this properties, it works on IE11.
Width this properties, doesn't work, showing that errors.

(https://stackblitz.com/edit/react-inlinesvg-ie11)

[2020-04-24 20:04] gilbarbara commented on #144
Hey @OVigilante

I checked your example but couldn't find possible causes easily.
Feel free to submit a PR

[2020-05-04 11:08] unterweltler opened #145 "InlineSVG not shown in Jest Snapshot"
I added the package and replaced an <img> in my component ... after running the Jest Test, which compares against a Snapshot, I don't see the <svg> ...

Here's my implementation:

[code]

Here's the output of my Snapshot:

**before**
[code]

**after**
[code]

Here's my test code:

[code]

Any idea?
Could it be because of the source path?

[2020-05-04 11:19] unterweltler commented on #145
I tried to add a external SVG source - but with no luck.

[2020-05-04 11:32] unterweltler commented on #145
Ok, I found out that I need to add a `delay` to wait until the Icon is loaded.
This is working for external Icons ...
For internal Icons I get the following

`Error: Error: connect ECONNREFUSED 127.0.0.1:80`
`TypeError: Network request failed`

[2020-05-04 13:08] gilbarbara commented on #145
Hello,

Yes, this library uses async requests to load URL files.
I don't know what you mean by internal icons, but if they are being loaded with an URL, the server must be running.

However, I usually mock this library for unit testing since I don't need to test the SVG loading, but only a placeholder for it.

Create a `__mocks__` directory in your test directory and create a file named `react-inl

[2020-05-04 13:08] #145 closed

[2020-05-04 13:17] unterweltler commented on #145
@gilbarbara
Thank you - thats exactly what I needed!
Do you know if its possible to add this `ReactInlineSVG` Mock globally - so every usage of `<SVG>` get's automatically mocked ...

[2020-05-04 13:18] gilbarbara commented on #145
That's what I meant with the `__mocks__` directory setup...
https://jestjs.io/docs/en/manual-mocks

[2020-05-04 13:22] unterweltler commented on #145
Dang - had in the wrong folder!
Now its working - thanks again!

[2020-05-18 15:40] adamcbrewer opened #146 "'react_from_dom_1.default is not a function'"
I have two projects I'm currently working on, one of which is a library of components using `react-inlinesvg` (project A) and another which imports the library (project B).

Project A has no issues with `react-inlinesvg`, but it's compiled to UMD using rollup. Importing any component from project A which uses `react-inlinesvg` seems to throw an error with the following error:

[code]

After a litt

[2020-05-19 04:46] gilbarbara commented on #146
Hey,

This seems like a problem with rollup configuration.
Changing the typescript config isn't an option since it would force users to have the same config

[2020-05-20 08:23] adamcbrewer commented on #146
I'm actually having the same issue elsewhere so you're definitely right, thanks!

[2020-05-20 08:23] #146 closed

[2020-06-19 02:21] gilbarbara commented on #141
It will be available in 2.0.0

[2020-06-19 02:21] #141 closed

[2020-06-24 13:52] gom59 opened #147 "Wrapper prevents failed image loading from propagating"
I might be doing something really stupid, but I created a wrapper around this module, and am facing issues when the image loading fails. A very simplified version of this wrapper is here:
https://codesandbox.io/s/svgimage-egrpm?file=/src/App.js

If two (or more) wrapped versions of react-inlinesvg fail to load the same file, only the first one will get to the failed state. The other ones keep on d

[2020-06-25 12:43] gilbarbara commented on #147
Hey @gom59
It is a bug with the cache system, I'll take a look when I have some time.

About the README, I removed those extra links that weren't related to CORS

[2020-06-25 13:39] gom59 commented on #147
Thank you.

[2020-06-30 00:24] dhruv-tank opened #148 "Is there any way to load default svg?"
How to load default svg in case of 'missing src' or any other error occured during loading svg?

[2020-07-06 22:24] gilbarbara commented on #148
Hey,

There's no concept of default in this library.

You could change the `src` in case of an error using a combination of internal state and the `onError` callback.
Or set a fallback as children.

[2020-07-06 22:24] #148 closed

[2020-07-14 11:36] hankolsen opened #149 "Is there a change log for updating to v2?"
Hi!
I noticed that there was a version bump to 2.0.
Is there a change log available or any other information about potential breaking changes?

Best regards

[2020-07-14 16:52] gilbarbara commented on #149
Hey @hankolsen
I forgot to publish the release for 2.0! 🤫

https://github.com/gilbarbara/react-inlinesvg/releases/tag/v2.0.0

[2020-07-14 17:08] hankolsen commented on #149
👍

[2020-07-14 17:08] #149 closed

[2020-07-21 17:37] Mrtenz opened #151 "Types are not exported in index"
The types defined in `types.ts` aren't exported in `index.tsx`. It would be nice if the types were exported there, so you can import it like
[code]
instead of
[code]

[2020-07-21 22:58] gilbarbara commented on #151
Feel free to submit a PR

[2020-07-22 09:29] Spaubleit opened #152 "SVG attributes in Props"
Thank you for this great library. I have suggestion how to improve it. Now we have interface like this:
[code]
Before I checked type I did not realize there is possibility to pass className or styles to SVG element.
This line allow us pass any prop:
[code]
It is possible to declare Props like this:
[code]
Now meaningless props cause errors:
[code]
It is possible to change Props type or there is ar

[2020-07-29 04:40] gilbarbara commented on #152
Hey

I have updated the Props interface but I had to use React.HTMLProps instead of HTMLAttributes.
It's available in 2.0.1

[2020-07-29 04:40] #152 closed

[2020-07-29 04:41] gilbarbara commented on #151
Hey

I have exported the types in the index.d.ts declaration.
It's available in 2.0.1

[2020-07-29 04:41] #151 closed

[2020-07-31 03:49] ashishmundrajll opened #154 "Color a SVG path with id="abc""
Hi All.

We have a SVG loaded in this viewer. Now when someone clicks a button outside viewer, we like to color SVG path where <path id="abc">. How can we achieve this?

Thanks,
Ashish

[2020-08-01 15:26] gilbarbara commented on #154
Hey @ashishmundrajll

This package just loads the files, it doesn't change the styles.
You can try adding a CSS class and change the path fill with it.

[2020-08-01 15:26] #154 closed

[2020-09-05 23:46] gilbarbara commented on #147
@gom59
Fixed in 2.1.0!

[2020-09-05 23:46] #147 closed

[2020-09-06 06:45] gom59 commented on #147
Really great, thanks!!!

[2020-10-20 19:44] porotikova commented on #144
@OVigilante
**I find decision.** problem with node.children. Add Polyfill in your project

[ParentNode](https://developer.mozilla.org/en-US/docs/Web/API/ParentNode/children)

[2020-10-28 17:41] AnderssonChristian opened #156 "Issue with new types"
In my project I have a custom component that passes in `cacheRequests = true` for convenience when using this library. It looks like this:

[code]

Prior to `v2.0.1` the above worked fine without errors. However, since `v2.0.1` I get an error:

[code]

Any ideas of how to fix this? Maybe I'm just missing something silly.

Thanks!

[2020-11-04 16:52] beqramo opened #157 "TypeError: src.match is not a function"
Hi, after updating to the react-script 4.0 and to react 17 this error appeared on my screen sadly.

![image](https://user-images.githubusercontent.com/40486471/98140950-7c7c6700-1edf-11eb-9cd6-02b00b5e6005.png)

[2020-11-05 11:22] gilbarbara commented on #157
Hey @beqramo

The error means the `src` isn't a string so it doesn't have the `match` method on its prototype. You need to make sure it is a string...

This most certainly isn't a problem with this package but something that has changed in CRA 4.0 which is a major upgrade...

Did you check CRA [changelog](https://github.com/facebook/create-react-app/blob/master/CHANGELOG.md)? Try to remove your no

[2020-11-05 11:36] gilbarbara commented on #156
hey @AnderssonChristian

It worked in version 2.0.0 but not 2.0.1? Or were you using a 1.x version before this?

Are you setting a ref in your `Icon` instances? The error points to that.

[2020-11-05 12:07] AnderssonChristian commented on #156
I believe I had 2.0.0 earlier, definitely not 1.x though.

Yes, I am using refs.

[2020-11-05 12:13] beqramo commented on #157
I did the same way as suggested but I see the same error again, have you tested it with CRA 4.0?

thanks for your aswer

[2020-11-05 12:14] gilbarbara commented on #156
Not sure how to help.

How are you using the ref, how? Are you typing it? Is it really necessary?

[2020-11-05 15:12] AnderssonChristian commented on #156
@gilbarbara my mistake. I had to double check and I cannot see using refs anywhere. I must have confused it with the same observation you did regarding the type error.

[2020-11-05 16:34] gilbarbara commented on #157
I didn't test it with CRA 4, but it doesn't matter.
The error is clear, src isn't a string.

[2020-11-05 16:37] gilbarbara commented on #156
Then I have no idea what is going on... Can you create a reproduction in codesandbox?

[2020-11-06 06:57] beqramo commented on #157
yes, I understand your point but my concern is that everything worked perfectly before updating so this is why I think that it isn't coming from me. if I had a time today I will check it on fresh CRA 4.0 project. thanks

[2020-11-06 11:50] gilbarbara commented on #157
I don't think it's coming from your code but CRA 4.0 it's a major upgrade with breaking changes.

[2020-11-06 15:41] beqramo commented on #157
do you have time to have a look at it?

[2020-11-07 14:26] gilbarbara commented on #157
@beqramo
Just tried it with a fresh CRA 4.0 instance and it's working ok.

Are you import the SVG from your project? CRA uses the [svgr](https://react-svgr.com/docs/webpack/)'s webpack loader that converts SVGs to react components, so you probably don't need this package for this case.
Anyway, try to log the src you are passing to it and make sure it's a string. If it a React component, it will ne

[2020-11-07 14:26] #157 closed

[2020-11-07 16:26] gilbarbara commented on #157
@beqramo The demo is updated with react-scripts 4.0 and everything is working

[2020-11-11 09:34] Boscop opened #158 "Error: Uncaught [TypeError: src.match is not a function]"
Thanks for this great package! It works well, but I'm getting the following error when running `yarn test`:
[code]

Any idea why? :)

It's in this line:
https://github.com/gilbarbara/react-inlinesvg/blob/ea11dcbb4ed96fe29d13194d9ef4df0e85ad7729/src/index.tsx#L229

[2020-11-12 15:46] Boscop commented on #158
This fixed it:
https://github.com/gilbarbara/react-inlinesvg/issues/140#issuecomment-579063058

[2020-11-12 15:46] #158 closed

[2020-11-15 19:59] Guria commented on #158
I am getting the same but in runtime after `react-scripts start`. Started to happen after upgading to reac-scripts@4.0.0

[2020-11-24 17:56] RadhikaJayesh commented on #156
@gilbarbara As per above discussion, please find the issue reproduced in codesandbox as below. We had to upgrade few dependencies as well to match with our current situation (react, react-dom).
https://codesandbox.io/s/react-inlinesvg-forked-nt6zv?file=/src/example-svg.tsx

[2020-12-01 16:15] AnderssonChristian commented on #156
@gilbarbara any input? 😕

[2020-12-01 17:10] gilbarbara commented on #156
@AnderssonChristian Nope. Feel free to submit a PR

[2020-12-01 17:13] AnderssonChristian commented on #156
@gilbarbara I have no idea what's wrong though. Did you have the chance to check the codesandbox?

[2020-12-02 01:39] gilbarbara commented on #156
@RadhikaJayesh @AnderssonChristian Fixed in 2.2.0
I needed to omit the ref from the `React.HTMLProps<SVGElement>` since it can't be used in the component

[2020-12-02 01:39] #156 closed

[2020-12-02 01:40] AnderssonChristian commented on #156
Hero! Thank you very much 👍

[2020-12-10 12:28] AnderssonChristian commented on #156
@gilbarbara I am now getting another issue, unfortunately. Typical svg element attributes, such as `preserveAspectRatio` aren't allowed.

[code]

I think it's related to the extend done in the `Props` interface. I believe it should be:

    React.SVGProps<SVGElement>

instead of

    React.HTMLProps<SVGElement>

[2020-12-10 13:14] gilbarbara commented on #156
hey @AnderssonChristian

Aren't there any other issues with the typings? Can you test a bit more?

[2020-12-10 15:19] AnderssonChristian commented on #156
@gilbarbara I edited the types.d.ts as per above and I had no errors.

In other components where I've had svg elements (not related to this lib) I've used `SVGProps` and not `HTMLProps`, so I guess it makes sense.

[2020-12-10 15:21] gilbarbara commented on #156
@AnderssonChristian
Yeah, it does!

It will be fixed in 2.2.1

[2020-12-11 20:13] fabricio7p opened #161 "Remote svg improperly rendered"
I don't think there's much to say about it.
Am i completely missing something here?

Here is the code ```<SVG src={`${cdn}/icons/${icon}`} />```
Here is how it looks
![image](https://user-images.githubusercontent.com/46208058/101950081-6eeb8880-3bd3-11eb-9872-d9eae8dee29f.png)

Here is how it looks using regular img tag:
![image](https://user-images.githubusercontent.com/46208058/101950151-8d51840

[2020-12-11 22:58] gilbarbara commented on #161
hey @fabricio7p

It's impossible to know what's happening without inspecting the file, can you share it?
My best guess is that it has some CSS?

[2020-12-14 11:34] GeoDoo commented on #161
I have the same issue. If I use an img tag it renders it correctly. If not, it looks messed up. I tried the same svg on an online tool, this: https://www.rapidtables.com/web/tools/svg-viewer-editor.html and it looks perfectly fine. Therefore, something happens with the react-inlinesvg 🤔

[2020-12-14 11:43] GeoDoo commented on #161
Ahh, so I played around a bit with that svg. There are some g tags that position it inside some boxes with shadows etc that break. But, I guess that should not break the svg.

[2020-12-14 12:27] fabricio7p commented on #161
Yeah i'm pretty sure it's lib's issue. I've tried it into clean html document.

Are you intrested in taking a look at these problematic files? @gilbarbara

[2020-12-14 13:04] gilbarbara commented on #161
@GeoDoo @fabricio7p

Without inspecting the affected files, it's impossible to know what's happening...

The files are converted to React components using DOMParser and I've tested with over 1000 files, but some apps add weird artifacts when exporting to SVG, so that might cause some issues.

[2020-12-14 13:10] fabricio7p commented on #161
I'll happily provide you these files, here's one in my public S3 bucket.
[SVG](https://lully-test-app.s3-sa-east-1.amazonaws.com/v1_lully/icons/diagnostic.svg).

[2020-12-14 13:59] GeoDoo commented on #161
Sorry, I cannot provide any files, since this is company's stuff I am working with at the moment. Also, I used an img tag as a temp solution for that icon. But I will be following the thread if you think I can help out 😀

[2020-12-14 14:08] gilbarbara commented on #161
@fabricio7p

The space between the icon and text is configured in the SVG or are you using margin?

The markup is really weird, as it references paths that don't exist and uses a group to move the icon 1000px to right/bottom and another group inside it that revert that.

Anyway, I couldn't load the remote file as it lacks the Access-Control-Allow-Origin header, so CORS blocks it. I copied the mark

[2020-12-14 14:16] gilbarbara commented on #161
@GeoDoo

This package is only necessary if you need to modify the markup and/or style it with CSS.
If you just need to render an image, it just adds overhead to bundle load and size.

An <img /> tag will be good enough for these cases.

[2020-12-14 14:25] fabricio7p commented on #161
Sorry these assets are handmade by someone else, i don't have a clue about the implementation.

Okay so i think i found half of the problem.
If i attempt to render it with a absolute href it does fully render:
`<SVG src="https://fullpath/to/my/asset.svg />`

Which is not ideal because i need this source href to be defined on the go...
Anyhow, it does still some wierd scaling?
![image](https://user

[2020-12-14 15:17] gilbarbara commented on #161
@fabricio7p

So, it's not a remote file that you are trying to load? :P

Are you flexbox to layout these elements? Probably that...

[2020-12-14 15:21] fabricio7p commented on #161
It is a remote file!

Here is that initial problematic code:
```<SVG src={`${cdn}/icons/${icon}`} />```

Yes i am using flexbox but don't you think this is a bug?
I mean, this render problem only occurs if i use a template string to set the source on the go. If i hardcode the source href it renders fine!

[2020-12-14 15:41] gilbarbara commented on #161
@fabricio7p

I don't think it is a bug with this library...
It makes no sense that it works with a hardcoded URL and not with a dynamic one.
Unless you publish a sandbox reproducing the bug it might be something that only happens in your app.

Anyway, flexbox will squash the elements to fit. You can try to set a `flex: 1;` to the icon. Or `flex-basis`.

[2020-12-14 15:50] gilbarbara commented on #161
@fabricio7p

What is your CDN URL? Using the S3 link that you posted triggers a CORS error but it is required for this library to work properly.

[2020-12-14 15:53] fabricio7p commented on #161
`https://lully-test-app.s3-sa-east-1.amazonaws.com/v1_lully/`
Don't know why this is happening to you, i did configured CORS in this bucket, hense i'm being able to load them in my localy running application

[2020-12-14 16:35] GeoDoo commented on #161
Update from my side: I got the svgs from a designer who exported them from Sketch. The code looks sh**.

I ran them through https://github.com/svg/svgo and now the svg is rendering ok!! Go figure!

[2020-12-14 17:43] gilbarbara commented on #161
@GeoDoo

Yeah, SVG is markup after all, and a bad element can cause a lot of trouble.
I don't blame Sketch per se, you just need to configure it to not include crap.

[2020-12-14 17:47] gilbarbara commented on #161
@fabricio7p

Ahh, I see, it's just a bucket then. I got confused when you mentioned CDN.

[2020-12-14 19:04] fabricio7p commented on #161
Okay, update..
I could NOT reproduce the bug and the issue was solved by contacting the author to remake the files. Aparently the problematic files were grouped with a 'clip' method. Not sure what that means.

Anyhow, this still feels wierd to me as they used to work with a hardcoded source url... oh well..

I'll leave here the specs of the project i was working on just in case case anyone has thi

[2020-12-14 19:04] #161 closed

[2020-12-14 22:40] gilbarbara commented on #161
@fabricio7p

SVG is code after all, and code can have bugs.
The `clipPath` element (or `mask`) are used to restrict what is rendered. So if anything falls outside, it won't be shown.

That's probably why you were getting "clipped" elements.

Good luck

[2021-03-25 20:43] Sentri opened #166 "Race condition when loading files sometimes renders the wrong SVG"
**Describe the bug**
If the `src` prop changes while the HTTP request for the previous SVG is still in progress, it sometimes leads to the wrong SVG being displayed.

**To Reproduce**
1. Set `src` prop to point at an external (slow) SVG file
2. Quickly change the prop to point to a different (fast) SVG
3. Race condition in the network requests sometimes displays the wrong SVG, depending on which H

[2021-03-31 00:13] leeoniya opened #167 "SVG content is reparsed even when it doesn't change"
hi @gilbarbara,

first, thanks for this library :)

I noticed several areas where performance can be improved and would like to see what you think.

1. i'm trying to pre-cache svg contents by path so that 0 fetch requests happen on initial load for statically-included icons. i was able to do this by exporting the global `cacheStore`, and pre-populating it with 'loaded' status cache objects and svg

[2021-04-14 06:27] hramini commented on #166
I have the same problem !!

[2021-05-02 12:43] gilbarbara commented on #167
Hello @leeoniya

1. I'll export the `cacheStore` in 2.3.0
2. Did you have problems with this or it's just an optimization urge? Because the DOMParse is quite an inexpensive operation at this level. I did think about this when I was implementing it and decided against caching as it would require a lot of code and I was already over my budget.
3. Based on perf tests I've found `indexOf` is way faste

[2021-05-02 14:27] gilbarbara commented on #166
Fixed in 2659e48c895c43175db487220baa298b8f6aab71
Available in [2.3.0](https://github.com/gilbarbara/react-inlinesvg/releases/tag/v2.3.0)

[2021-05-02 14:27] #166 closed

[2021-05-02 16:05] leeoniya commented on #167
thank you :pray:

[2021-05-02 16:05] #167 closed

[2021-05-12 21:31] beausmith opened #169 ""Note" section of the react-inlinesvg README has broken links"
The "Note" section of the react-inlinesvg README has broken links which I (and others) would like to read more about:
https://github.com/gilbarbara/react-inlinesvg#note

[2021-06-15 11:06] shafqatjamil opened #172 "Incorrect shape rendering"
I have a SVG which is correctly rendering in https://www.rapidtables.com/web/tools/svg-viewer-editor.html but using this package in my react app its just display a tick in same color. Shape should be a plus sign within the circle

React Version: 17.0.2
inlinsvg version: 2.3.0

Following is the svg code

[code]

[2021-06-15 11:43] gilbarbara commented on #172
Please provide a https://codesandbox.io/ demo or similar.

[2021-06-15 13:21] shafqatjamil commented on #172
I tried to reproduce but its working fine in sandbox. FYI I upgraded react version from 16 to 17 if it helps

[2021-06-15 16:17] gilbarbara commented on #172
So, if it is working with a simple setup, it might be a problem with your app?
Anyway, without a reproduction, there's no way to know what is happening...

[2021-06-15 16:17] #172 closed

[2021-07-05 13:18] Krelborn opened #173 "Changing src prop before fetch completes can break the cache for the URL"
**Describe the bug**
If the src prop is a remote URL and it changes before the fetch completes, the cache gets stuck with a loading entry for the original URL.

**To Reproduce**
Steps to reproduce the behaviour:
1. Render with a remote URL <SVG src="someurl.svg" />
2. Render the same component again with a different URL without waiting for the first load to complete
3. Render again using the origi

[2021-08-04 17:07] gabriel1997castro commented on #173
Hello! Did you find some solution to this problem. I am with the same problem

[2021-08-05 14:46] Krelborn commented on #173
You have to prevent a new src prop being passed to inline-svg until the last one has finished loading. You know when the load completes because the onLoad callback is called. So then its just a case of keeping track of the src being loaded and switching it to the new src if one is requested using state and effect hooks.

[2021-09-06 22:36] JackCA commented on #111
it looks like inline script tags are in fact rendered now. Is that intentional?

[2021-11-09 14:59] wviana commented on #140
Hi there, I'm having kind the same problem.
Here is my jest config:
[code]

I've tried to add a react-inlinesvg.js to test's __mocks__ directory
but I'm getting a
[code]

[2021-11-09 17:03] wviana commented on #140
I solve it going into babeljs and converting the code to vanila js.

[code]

[2021-11-10 01:12] gilbarbara commented on #140
hey @wviana

I think you were using the module syntax (import/export) in your mock with the js extension and apparently jest isn't transforming js files, just ts.

Replace the mock extension to tsx?

[2021-11-11 13:10] wviana commented on #140
Worked like a charm. Just had to add a porps interface and a return type.

Here is the code for react-inlinesvg.tsx
[code]

[2021-12-16 00:44] gabriel1997castro commented on #173
Thank you!

[2022-03-31 16:07] x-stefan commented on #173
Thank you! Ran into the same issue.

Solved it with something like this:

[code]

This way `src` only changes if `isLoading` is `false`.
Once the callback for `onLoad` is triggered, the new `src` is set by the effect hook.

Hope this helps in case someone else runs into this issue.

[2022-04-06 12:27] ximex opened #180 "Support React 18"
add `react` `^18.0.0` and `react-dom` `^18.0.0` as `peerDependencies`

[2022-04-08 13:58] Jeniczech opened #181 "TypeScript Error"
Hello there,
I have been using your library for ages, but all of the sudden, I am getting this weird TS error:

`TS2786: 'SVG' cannot be used as a JSX component. Its instance type 'InlineSVG' is not a valid JSX element.`

Do you, please, have any idea what might be causing the error?

My package.json:

[code]

[2022-04-08 14:34] gilbarbara commented on #181
hey @Jeniczech

This isn't an issue with the library and it's nearly impossible to know what is happening in your project.
Good luck.

[2022-04-08 14:34] #181 closed

[2022-04-12 11:51] ximex commented on #181
i also got this error now. couldn't remember that i got this before

[2022-04-13 19:14] Marciovinicius1 commented on #181
I have the same problem

[2022-04-14 10:49] tanvirpiash opened #182 "Getting this errors when trying to install the package."
[code]
I think the error is getting because of react dependency. Can you update the peer dependency to react 18?

[2022-04-14 17:33] gilbarbara commented on #182
Duplicated #180

[2022-04-14 17:33] #182 closed

[2022-04-15 21:40] gilbarbara commented on #169
Fixed in 808a54b116155b0243a252a3de1b89eb5187962d
Thanks

[2022-04-15 21:40] #169 closed

[2022-04-15 21:41] gilbarbara commented on #173
Fixed in 3.0.0
Thanks

[2022-04-15 21:41] #173 closed

[2022-04-15 21:41] gilbarbara commented on #180
Fixed in 3.0.0
Thanks

[2022-04-15 21:41] #180 closed

[2022-04-16 11:17] andipyk commented on #181
i have same problem :(
how to fix this

[2022-05-15 07:49] itsmdsameerkhan opened #187 "Issue with React v17 and TypeScript"
'SVG' cannot be used as a JSX component.
  Its instance type 'InlineSVG' is not a valid JSX element.
    The types returned by 'render()' are incompatible between these types.

[2022-05-15 16:13] hesan-aminiloo commented on #187
Same here

[2022-05-15 17:42] gilbarbara commented on #187
Duplicate of #181

[2022-05-15 17:42] #187 closed

[2022-05-20 09:28] huytq03 commented on #187
why this issue has closed like #181  but none of them have a solution?

[2022-05-20 20:34] gilbarbara commented on #187
@huytq03

Because it is not a problem with this library.
Did you check [this](https://github.com/gilbarbara/react-inlinesvg/discussions/186)?

[2022-05-21 09:12] huytq03 commented on #187
fixed. tks

[2022-08-14 14:10] strodoff opened #192 "icon request is not cached on the level of react-inlinesvg component"
Hi guys
I use the same icon in several places (with your library).
Instead of making one network request for this icon many requests are made

**Steps to reproduce the behavior**
1. Go to https://codepen.io/strodoff/pen/OJvEOjL?editors=1010
2. Open the inspect tools
3. Go to the Network
4. See many requests for a single icon

**Expected behavior**
We expect to see only one request for the icon

**

[2022-08-18 12:44] RemyMachado commented on #127
Wouldn't that mean that we need to do an additional render?
The only way I see is using a `useEffect` to load a remote svg then doing a `setState` to set the response I feel like it's really inefficient.

Do you have something better @gilbarbara?

[2022-08-18 20:01] gilbarbara commented on #127
Hey @RemyMachado

You can set the `fetchOptions` prop.

Either way, a re-render is executed.

[2022-08-18 23:40] gilbarbara commented on #192
Hey @strodoff

Make sure the remote SVG has [CORS headers](https://github.com/gilbarbara/react-inlinesvg#cors) or the cache might not be populated. The remote file doesn't have the appropriate headers in the example you posted.

The cache is populated AFTER a successful response, so simultaneously loading the same URL in multiple components won't work.

The import difference doesn't make much sens

[2022-08-18 23:40] #192 closed

[2022-08-22 19:59] kopyl opened #194 "Code from README doesn't work"
Code:
[code]
https://i.imgur.com/eXhVxfS.png

Error: `Component definition is missing display name`
https://i.imgur.com/eXhVxfS.png

[2022-08-22 21:19] gilbarbara commented on #194
Hey @kopyl

Without the information requested in the issue template, it's impossible to know what is happening.

Did you try to [update](https://github.com/gilbarbara/react-inlinesvg/discussions/186) the react types?
If this doesn't help, post an update with a codesandbox example.

[2022-08-22 21:19] #194 closed

[2022-08-25 20:12] MaxRev-Dev opened #195 "Use 'createElementNS' to create SVG elements instead of 'createElement'."
Was looking for issues in chrome inspector and found this:

![image](https://user-images.githubusercontent.com/24393967/186759397-a01c6d38-123b-4377-9734-9daadbff244b.png)

More info can be found at:
https://webhint.io/docs/user-guide/hints/hint-create-element-svg/?source=devtools

[2022-10-21 14:10] mlegait opened #197 "Unable to have the cache working"
**Describe the bug**
I'm not able to have the cache working. Even if the same URL is targeted, the same icon is downloaded again and again.

**To Reproduce**

Here is a piece of my component:
[code]
So I've set `cacheRequests` to true. Confirmed in the Components tab of React DevTools:
![image](https://user-images.githubusercontent.com/19664438/197215484-f77c30ec-eed0-41ad-a7e5-10f9b94ea4c8.png)

[2022-10-21 15:14] #197 closed

[2022-10-21 16:03] gilbarbara commented on #197
Hey @mlegait

The cache is for the session and not persistent between reloads.
You could set a rule in a service worker to add them to the Cache Storage, but this is beyond the scope of this library.

[2022-10-24 13:26] mlegait commented on #197
Yes, sorry for the trouble. I misunderstood the behavior 😅
Thank you for this library 🙏

[2022-11-15 21:36] iankinney5 commented on #140
Thanks @wviana! This helped us out a lot! Haha.